<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.common.dao.CmsSchoolMapper">
	<resultMap id="SchoolMap" type="com.ekt.cms.common.entity.CmsSchool">
		<id column="id" property="id" jdbcType="INTEGER"></id>
		<result column="school_name" property="schoolName" jdbcType="VARCHAR" />
		<result column="city_code" property="cityCode" jdbcType="VARCHAR" />
		<result column="area_name" property="cityName" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="contact" property="contact" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 分页查询 -->
	<select id="listPage" resultMap="SchoolMap" parameterType="com.ekt.cms.common.entity.CmsSchool">
	SELECT 
		id
		,school_name
		,city_code
		,address
		,contact
		,s.status status
		,CONCAT(TRIM(r3.area_name),TRIM(r2.area_name),TRIM(r.area_name)) area_name
	FROM
			cms_school s
			LEFT JOIN cms_region r on s.city_code=r.area_code
			LEFT JOIN cms_region r2 on r.parent_code = r2.area_code
			LEFT JOIN cms_region r3 on r2.parent_code = r3.area_code
	WHERE 0 =0
		<if test="CmsSchool.schoolName !=null and CmsSchool.schoolName != ''">
			AND (s.school_name like '%${CmsSchool.schoolName}%')
		</if>
		<if test="CmsSchool.cityName !=null and CmsSchool.cityName != ''">
			AND (r.area_name  like '%${CmsSchool.cityName}%')
		</if>
		<if test="CmsSchool.cityName!=null and CmsSchool.cityName != ''">
			OR (r2.area_name like '%${CmsSchool.cityName}%')
		</if>
		<if test="CmsSchool.cityName!=null and CmsSchool.cityName != ''">
			OR (r3.area_name like '%${CmsSchool.cityName}%')
		</if>
	</select>
	<!-- 停启用 -->
	<update id="confine" parameterType="com.ekt.cms.common.entity.CmsSchool">
	UPDATE 
		cms_school 
	SET
		status=#{CmsSchool.status}
	WHERE
		id=#{CmsSchool.id}
	</update>
	
	<insert id="addSchool" >
		INSERT INTO cms_school( school_name, city_code, `status`) VALUES (#{schoolName},#{cityCode},1);
	</insert>
	
	
	<select id="findSchoolByName" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM cms_school WHERE school_name=#{schoolName} AND city_code=#{cityCode}
	</select>
	
	<delete id="delSchoolById" parameterType="java.lang.Integer">
		DELETE FROM cms_school WHERE id =#{id}
	</delete>
	
	
	
</mapper> 