/*
主题名称: 微金汇网站样式
描述: :微金汇网站样式
作者: 李建
*/

@import url('pz_global.css');  /*引入全局样式*/

/* 登录 */
.log{
	border:1px solid #e1e5e6;
	margin-top:15px;
	height:379px;
	background:#fff;
}
.log ul{
	padding:20px 0 0 20px;
	float:left;
}
.log ul li{
	padding-bottom:20px;
}
.log ul li input[type="text"],.log ul li input[type="password"]{
	width:288px;
	height:47px;
	border:0;
	text-indent:60px;
	line-height:47px;
	font-size:14px;
	color:#999;
}
.log ul li input.per{
	background:url(../images/pz_images/log_per_bg.jpg) no-repeat;
}
.log ul li input.pass{
	background:url(../images/pz_images/log_pass_bg.jpg) no-repeat;
}
.log ul li input[type="checkbox"]{
	vertical-align:middle;
}
.log ul li p{
	padding-top:11px;
	height:57px;
}
.log ul li input[type="submit"]{
	width:288px;
	height:45px;
	background:#07a7f1;
	color:#fff;
	font-size:18px;
	border:0;
	border-radius:5px;
	cursor:pointer;
	font-weight:bold;
}
.log ul li.liShare{
	text-align:center;
	padding-top:45px;
}
.log ul li.liShare img{
	vertical-align:middle;
	position:relative;
	top:-2px;
	margin-left:20px;
}
.log ul li label{
	cursor:pointer;
}

/* 注册 */
.reg{
	border:1px solid #e1e5e6;
	background:#fff;
	margin-top:15px;
}
.reg dl dt{
	text-align:center;
	padding-top:15px;
	height:200px;
}
.reg dl dt p{
	text-align:right;
	height:60px;
	padding-right:15px;
}
.reg dl dt .step{
	width:635px;
	height:78px;
	margin:0 auto;
	background:url(../images/pz_images/step_line.jpg) repeat-x;
}
.reg dl dt .step ul li{
	float:left;
	background:#fff;
	color:#aaafb5;
}
.reg dl dt .step ul li span{
	width:50px;
	height:50px;
	background:url(../images/pz_images/step_bg.jpg) no-repeat;
	display:block;
	margin:0 auto;
	margin-bottom:9px;
	font-size:28px;
	text-align:center;
	line-height:50px;
	color:#afb3bc;
	font-weight:bold;
}
.reg dl dt .step ul li span.sel{
	background:url(../images/pz_images/step_bg_sel.jpg) no-repeat;
	color:#fff;
}
.reg dl dt .step ul li.liCen{
	background:none;
	margin-left:210px;
}
.reg dl dt .step ul li.liRight{
	float:right;
}
.reg dl dd ul li{
	height:80px;
}
.reg dl dd ul li .name{
	width:300px;
	float:left;
	text-align:right;
	padding-right:6px;
	font-size:14px;
	line-height:49px;
}
.reg dl dd ul li .fill input[type="text"]{
	width:365px;
	height:47px;
	border:0;
	text-indent:55px;
	font-size:14px;
}
.reg dl dd ul li .fill input.inBg1{
	background:url(../images/pz_images/reg_bg_1.jpg) no-repeat;
}
.reg dl dd ul li .fill input.inBg2{
	background:url(../images/pz_images/reg_bg_2.jpg) no-repeat;
}
.reg dl dd ul li .fill input.inBg3{
	background:url(../images/pz_images/reg_bg_3.jpg) no-repeat;
}
.reg dl dd ul li .fill input.inBg4{
	background:url(../images/pz_images/reg_bg_1.jpg) no-repeat;
}
.reg dl dd ul li .fill input.inputS{
	width:173px;
	text-indent:8px;
	border:1px solid #e3e7e6;
	border-radius:5px;
	height:45px;
}
.reg dl dd ul li .fill .mark{
	width:173px;
	height:47px;
	border:1px solid #e3e7e6;
	display:inline-block;
	vertical-align:middle;
	position:relative;
	top:-1px;
	text-align:center;
	margin:0 10px;
}
.reg dl dd ul li .fill .mark img{
	vertical-align:middle;
}
.reg dl dd ul li .perChoose a{
	width:173px;
	height:45px;
	border:1px solid #07a7f1;
	display:inline-block;
	text-align:center;
	line-height:45px;
	font-size:16px;
	font-weight:bold;
	color:#07a7f1;
	border-radius:5px;
	margin-right:5px;
}
.reg dl dd ul li .perChoose a.sel{
	border:1px solid #ffad43;
	color:#f6900d;
}
.reg dl dd ul li.liMark{
	height:62px;
}
.reg dl dd ul li input[type="checkbox"]{
	position:relative;
	top:1px;
	margin-right:5px;
}
.reg dl dd ul li input[type="submit"]{
	width:365px;
	height:45px;
	background:#07a7f1;
	border:0;
	border-radius:5px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
}

/* 首页 */
.banner{
	height:375px;
	background:url(../images/pz_images/banner.jpg) no-repeat center 0;
}
.index{
	width:950px;
	margin:0 auto;
}
.index .adv{
	height:225px;
	padding-top:25px;
}
.index .adv ul li{
	float:left;
	width:33%;
	text-align:center;
	line-height:21px;
}
.index .adv ul li p{
	line-height:50px;
	font-size:24px;
}
.index dl dt{
	height:30px;
	border-left:8px solid #0294d9;
	margin-top:35px;
	font-size:24px;
	padding-left:10px;
}
.index dl dd.list ul li{
	line-height:95px;
	border-bottom:1px dotted #ddd;
	font-size:16px;
	text-align:center;
}
.index dl dd.list ul li.liTop{
	border-bottom:1px solid #ddd;
	font-size:14px;
}
.index dl dd.list ul li.liTop .name{
	text-align:center;
}
.index dl dd.list ul li img{
	vertical-align:middle;
}
.index dl dd.list ul li .name{
	float:left;
	width:290px;
	text-align:left;
}
.index dl dd.list ul li .name img{
	margin-right:10px;
}
.index dl dd.list ul li .price{
	float:left;
	width:120px;
}
.index dl dd.list ul li .level{
	float:left;
	width:90px;
}
.index dl dd.list ul li .ear{
	float:left;
	width:110px;
}
.index dl dd.list ul li .time{
	float:left;
	width:100px;
}
.index dl dd.list ul li .process{
	float:left;
	width:105px;
}
.index dl dd.list p{
	line-height:60px;
	text-align:center;
	font-size:16px;
}
.index dl dd.new{
	padding-top:15px;
}
.index dl dd.new ul li{
	line-height:50px;
	border-bottom:1px dotted #ddd;
}
.index dl dd.new ul li img{
	margin-right:12px;
	position:relative;
	top:1px;
}
.index dl dd.new p{
	line-height:60px;
	text-align:center;
	font-size:16px;
	border-bottom:1px solid #ddd;
	margin-bottom:50px;
}

/* 我的账户中心 */
.nav{
	/*height:60px;*/
	/*line-height:60px;*/
	width:950px;
	margin:0 auto;
	font-size:14px;
}
.count{
	width:950px;
	margin:0 auto;
	font-size:14px;
	padding-bottom:10px;
	background:#fff;
}
.count .coInfo{
	width:233px;
	height:224px;
	border:1px solid #e4e6e5;
	float:left;
	text-align:center;
	line-height:27px;
}
.count .coInfo img{
	margin:27px 0 10px 0;
}
.count .coInfo p img{
	margin:20px 10px 0 10px;
}
.count .coMenu{
	height:224px;
	border:1px solid #e4e6e5;
	border-width:1px 1px 1px 0;
	float:left;
	width:714px;
}
.count .coMenu p{
	line-height:66px;
	height:66px;
	border-bottom:1px solid #e4e6e5;
	padding:0 15px;
}
.count .coMenu ul li{
	width:137px;
	float:left;
	border-right:1px solid #e4e6e5;
	height:132px;
	padding-top:25px;
	text-align:center;
}
.count .coMenu ul li img{
	margin-bottom:10px;
}
.count .coMenu ul li.liNone{
	border:0;
}
.count .coMenu ul li a{
	display:block;
}
.count .coMess{
	float:left;
	margin:9px 10px 0 0;
	width:222px;
	border:1px solid #e4e5e7;
	height:296px;
}
.count .coMess dl dt{
	height:46px;
	line-height:46px;
	background:#f2f5fa;
	border-bottom:1px solid #e4e5e7;
	font-size:16px;
	font-weight:bold;
	text-indent:28px;
	position:relative;
}
.count .coMess dl dt img{
	position:absolute;
	right:15px;
	top:18px;
}
.count .coMess dl dd ul li{
	height:46px;
	line-height:46px;
	text-indent:28px;
	border-bottom:1px solid #e4e5e7;
}
.count .coMess dl dd ul li a{
	display:block;
}
.count .coList{
	width:714px;
	float:left;
	height:306px;
	border:1px solid #e4e5e7;
	border-width:0 1px 1px 1px;
}
.count .coList ul li{
	border-bottom:1px dashed #e4e5e7;
	height:52px;
	line-height:52px;
	text-indent:18px;
}
.count .coList ul li.liNone{
	border:0;
}
.count .coList ul li input{
	position:relative;
	top:2px;
	margin-right:10px;
}
.count .coList ul li.liTop{
	height:41px;
	line-height:41px;
	text-indent:0;
}
.count .coList ul li.liTop .tit{
	width:25%;
	float:left;
	text-align:center;
}

/* 我要投资 */
.inve{}
.inve .search{
	border:1px solid #ddd;
	background:#fff;
}
.inve .search .left{
	float:left;
	width:645px;
	background:url(../images/pz_images/search_line.jpg) right 0 no-repeat;
}
.inve .search .left h3{
	height:85px;
	padding-top:10px;
	font-weight:normal;
}
.inve .search .left h3 span{
	display:block;
	width:150px;
	height:57px;
	padding:10px 0 0 56px;
	background:url(../images/pz_images/tit_bg_1.png) no-repeat;
	color:#fff;
	font-size:24px;
	position:relative;
	left:-17px;
}
.inve .search .left ul li{
	line-height:23px;
	padding-bottom:17px;
}
.inve .search .left ul li span{
	width:88px;
	display:inline-block;
	text-align:right;
}
.inve .search .left ul li a{
	display:inline-block;
	margin-left:12px;
	padding:0 10px;
}
.inve .search .left ul li a.sel{
	background:#1bb8e2;
	color:#fff;
}
.inve .search .left p{
	padding:28px 0 0 27px;
	height:45px;
}
.inve .search .right{
	float:left;
	padding:88px 0 0 64px;
	font-size:14px;
	line-height:22px;
}
.inve .search .right p{
	height:35px;
	font-size:16px;
}
.inve .inveList{
	border:1px solid #ddd;
	background:#fff;
	margin-top:22px;
}
.inve .inveList h3{
	height:70px;
	padding-top:10px;
	font-weight:normal;
}
.inve .inveList h3 span{
	display:inline-block;
	width:150px;
	height:57px;
	padding:10px 0 0 56px;
	background:url(../images/pz_images/tit_bg_2.png) no-repeat;
	color:#fff;
	font-size:24px;
	position:relative;
	left:-17px;
}
.inve .inveList h3 img{
	position:relative;
	top:16px;
	left:-11px;
}
.inve .inveList table{
	border-collapse:collapse;
}
.inve .inveList table tr{
	border-bottom:1px solid #ddd;
}
.inve .inveList table tr.tit{
	border-bottom:1px solid #02b630;
}
.inve .inveList table .img{
	vertical-align:middle;
	margin-right:14px;
}

/* 投资三级页面 */
.inveDet{}
.inveDet .pay{
	border:1px solid #ddd;
	background:#fff;
}
.inveDet .pay dl dt{
	height:45px;
	background:#1bb8e2;
	border-bottom:1px solid #76d4ee;
	line-height:45px;
	text-indent:10px;
	font-size:20px;
	color:#fff;
}
.inveDet .pay dl dd{}
.inveDet .pay dl dd .left{
	width:615px;
	padding-right:20px;
	height:346px;
	background:url(../images/pz_images/inve_line.jpg) right 0  no-repeat;
	float:left;
}
.inveDet .pay dl dd .left table{
	border-bottom:1px dashed #ddd;
	padding:0 0 20px 40px;
	line-height:45px;
}
.inveDet .pay dl dd .left ul{
	padding:18px 0 0 40px;
}
.inveDet .pay dl dd .left ul li{
	width:285px;
	float:left;
	height:60px;
}
.inveDet .pay dl dd .left ul li .name{
	width:110px;
	display:inline-block;
}
.inveDet .pay dl dd .left ul li .nameO{
	width:70px;
	display:inline-block;
	vertical-align:top;
}
.inveDet .pay dl dd .left ul li .imgCont{
	width:200px;
	height:19px;
	display:inline-block;
	border-bottom:4px solid #fb5a00;
	position:relative;
	top:-12px;
}
.inveDet .pay dl dd .left ul li .imgCont span{
	text-align:center;
	position:absolute;
	top:-5px;
}
.inveDet .pay dl dd .left ul li .imgCont span img{
	display:block;
	margin:0 auto;
}
.inveDet .pay dl dd .right{
	float:left;
	padding:65px 0 0 15px;
	text-align:right;
}
.inveDet .pay dl dd .right p{
	padding-bottom:29px;
}
.inveDet .pay dl dd .right input[type="text"]{
	width:155px;
	padding-right:29px;
	height:37px;
	border:1px solid #1bb8e2;
	background:url(../images/pz_images/input_bg_1.jpg) right 0 no-repeat;
	text-indent:5px;
	font-size:18px;
	margin-left:5px;
}
.inveDet .pay dl dd .right input[type="submit"]{
	width:190px;
	height:44px;
	border:0;
	border-radius:10px;
	background:#84c009;
	color:#fff;
	font-size:18px;
	cursor:pointer;
}
.inveDet .info{}
.inveDet .info dl dt{
	padding-top:37px;
	height:35px;
	border-bottom:1px solid #c4c4c4;
}
.inveDet .info dl dt a{
	width:160px;
	text-align:center;
	font-size:20px;
	height:35px;
	float:left;
}
.inveDet .info dl dt a.sel{
	border-bottom:1px solid #02b630;
	color:#02b630;
}
.inveDet .info dl dd{
	border:1px solid #ddd;
	background:#fff;
	margin-top:24px;
}
.inveDet .info dl dd h3{
	height:70px;
	padding-top:10px;
	font-weight:normal;
}
.inveDet .info dl dd h3 span{
	display:inline-block;
	width:166px;
	height:57px;
	padding:10px 0 0 40px;
	background:url(../images/pz_images/tit_bg_2.png) no-repeat;
	color:#fff;
	font-size:24px;
	position:relative;
	left:-17px;
}
.inveDet .info dl dd.perInfo{
	padding-bottom:20px;
}
.inveDet .info dl dd.perInfo .infoDet ul{
	padding:10px 0 0 125px;
}
.inveDet .info dl dd.perInfo .infoDet ul li{
	width:250px;
	height:32px;
	float:left;
}
.inveDet .info dl dd.perInfo .infoDet .title{
	font-size:16px;
	padding-left:45px;
}
.inveDet .info dl dd.perInfo .infoDet .title span{
	width:90px;
	height:24px;
	background:url(../images/pz_images/inve_3.jpg) no-repeat;
	display:inline-block;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	vertical-align:middle;
	text-align:center;
	color:#fff;
	line-height:24px;
	margin-left:10px;
}
.inveDet .info dl dd.perInfo .infoDet .title img{
	vertical-align:middle;
	margin-left:15px;
}
.inveDet .info dl dd.perInfo .infoDet .name{
	width:70px;
	display:inline-block;
}
.inveDet .info dl dd.perInfo .infoDet .nameO{
	width:115px;
	display:inline-block;
}
.inveDet .info dl dd.perInfo .infoDet ul li img{
	margin-left:5px;
	position:relative;
	top:3px;
}
.inveDet .info dl dd.perInfo .infoRecord{
	padding:0 45px;
}
.inveDet .info dl dd.perInfo .infoRecord p{
	padding-top:30px;
	height:32px;
	font-size:14px;
}
.inveDet .info dl dd.record{
	padding-bottom:20px;
}
.inveDet .info dl dd.record .infoRecord p{
	padding-top:10px;
	height:32px;
	font-size:14px;
	text-align:center;
}
.inveDet .info dl dd.record .infoRecord{
	padding:0 45px;
}
.inveDet .info dl dd.proDet{
	padding-bottom:20px;
}
.inveDet .info dl dd.proDet .proCont{
	line-height:36px;
	font-size:14px;
	padding:0 70px;
}
.inveDet .info dl dd.message{
	padding-bottom:30px;
}
.inveDet .info dl dd.message .messArea{
	padding:0 0 0 45px;
}
.inveDet .info dl dd.message .messArea textarea{
	width:840px;
	height:130px;
	border:1px solid #ddd;
	display:block;
	margin:10px 0 20px 0;
}
.inveDet .info dl dd.message .messArea img{
	vertical-align:middle;
}
.inveDet .info dl dd.message .messArea input[type="text"]{
	width:138px;
	height:26px;
	border:1px solid #ddd;
	text-indent:5px;
	margin:0 10px;
}
.inveDet .info dl dd.message .messArea input[type="submit"]{
	background:#1bb8e2;
	width:80px;
	height:28px;
	cursor:pointer;
	border:0;
	color:#fff;
	font-size:14px;
	margin-left:10px;
}

/* 关于我们 */
.about{
	border:1px solid #e0e0e0;
	background:#fff;
	margin-top:30px;	
	padding-bottom:30px;
}
.about h3{
	padding:25px 35px 0 0;
	text-align:right;
	color:#fb5a00;
	font-size:18px;
	font-weight:normal;	
}
.about h3 img{
	margin:0 0 10px 13px;
}
.about .abCen h4{
	height:35px;
	font-size:16px;
	padding-top:10px;
}
.about .abCen p{
	position:absolute;
	bottom:0;
	left:0;
	padding-left:30px;
	height:30px;
	color:#999;
	font-size:12px;
}
.about .aboutCont{
	width:675px;
	margin:20px 0 0 230px;
}
.about .aboutCont .abTop{
	height:11px;
	background:url(../images/pz_images/about_top.jpg) no-repeat;
}
.about .aboutCont .abCen{
	background:url(../images/pz_images/about_cent.jpg) repeat-y;
	min-height:200px;
	position:relative;
	padding:0 30px;
	line-height:24px;
	font-size:14px;
}
.about .aboutCont .abBot{
	height:11px;
	background:url(../images/pz_images/about_bot.jpg) no-repeat;
}
.about .aboutContO{
	width:868px;
	margin:20px 0 0 38px;
}
.about .aboutContO .abTop{
	height:11px;
	background:url(../images/pz_images/about_top_l.jpg) no-repeat;
}
.about .aboutContO .abCen{
	background:url(../images/pz_images/about_cent_l.jpg) repeat-y;
	min-height:200px;
	position:relative;
	padding:0 30px;
	line-height:24px;
	font-size:14px;
}
.about .aboutContO .abBot{
	height:11px;
	background:url(../images/pz_images/about_bot_l.jpg) no-repeat;
}

/* 借款申请 */
.apply{
	border:1px solid #e0e0e0;
	background:#fff;
}
.apply dl dt{
	height:90px;
	background:url(../images/pz_images/apply_line.jpg) no-repeat center bottom;
	position:relative;
}
.apply dl dt span{
	width:206px;
	height:67px;
	background:url(../images/pz_images/tit_bg_2.png) no-repeat;
	display:block;
	font-size:24px;
	text-align:center;
	color:#fff;
	line-height:52px;
	position:absolute;
	top:10px;
	left:-17px;
}
.apply dl dt .apStep{
	float:right;
	padding:22px 41px 0 0;
}
.apply dl dt .apStep ul li{
	width:21px;
	height:21px;
	background:#ddd;
	float:left;
	margin-right:9px;
}
.apply dl dt .apStep ul li.over{
	background:#84c009;
}
.apply dl dt .apStep ul li.cur{
	background:#ffff01;
}
.apply dl dd{
	padding:30px 0;
}
.apply dl dd ul li{
	padding-bottom:13px;
}
.apply dl dd ul li .name{
	width:250px;
	float:left;
	text-align:right;
	line-height:32px;
	font-size:14px;
}
.apply dl dd ul li .fill{
	padding-left:40px;
}
.apply dl dd ul li .fill input[type="text"]{
	width:315px;
	height:26px;
	border:1px solid #ddd;
}
.apply dl dd ul li .fill select{
	width:315px;
	height:30px;
	border:1px solid #1bb8e2;
}
.apply dl dd ul li .fill textarea{
	width:505px;
	height:110px;
	border:1px solid #ddd;
}
.apply dl dd ul li .fill input[type="submit"]{
	width:190px;
	height:44px;
	background:url(../images/pz_images/button_1.jpg) no-repeat;
	border:0;
	cursor:pointer;
	font-size:20px;
	color:#fff;
	margin-right:30px;
}

/* 新手指引 */
.guide .guNav{
	text-align:center;
}
.guide .guNav p{
	height:55px;
	border-bottom:1px solid #c4c4c4;
}
.guide .guNav p a{
	width:170px;
	line-height:55px;
	font-size:20px;
	float:left;
}
.guide .guNav a.sel{
	border-bottom:1px solid #02b630;
	color:#02b630;
}
.guide .guNav img{
	margin-top:38px;
}

.guide dl{
	border:1px solid #e0e0e0;
	background:#fff;
	margin-top:20px;
}
.guide dl dt{
	height:90px;
	position:relative;
}
.guide dl dt span{
	width:206px;
	height:67px;
	background:url(../images/pz_images/tit_bg_2.png) no-repeat;
	display:block;
	font-size:24px;
	text-align:center;
	color:#fff;
	line-height:52px;
	position:absolute;
	top:10px;
	left:-17px;
}
.guide dl dt span.bg1{
	background:url(../images/pz_images/tit_bg_3.png) no-repeat;
}
.guide dl dt span.bg2{
	background:url(../images/pz_images/tit_bg_4.png) no-repeat;
}
.guide dl dt span.bg3{
	background:url(../images/pz_images/tit_bg_1.png) no-repeat;
}
.guide dl dd.des{
	line-height:36px;
	padding:0 40px 40px;
	font-size:16px;
}
.guide dl dd.des .font30{
	line-height:50px;
}
.guide dl dd.des p{
	padding-bottom:15px;
}

/* 我要借款 */
.guide dl dd.loanStep{
	padding-top:10px;
}
.guide dl dd.loanStep img{
	display:block;
	margin:0 auto;
} 
.guide dl dd.loanStep p{
	line-height:36px;
	padding:30px 0 30px 60px;
	font-size:14px;
}

/* 我要借款-审核材料  */
.guide dl dd.loanStuff{
	padding-bottom:30px;
}
.guide dl dd.loanStuff ul{
	height:120px;
	padding:0 0 0 25px;
}
.guide dl dd.loanStuff ul li{
	float:left;
	padding:0 15px;
	font-size:18px;
	color:#1bb8e2;
	height:60px;
	line-height:60px;
	border:2px solid #1bb8e2;
	border-width:2px 0;
}
.guide dl dd.loanStuff ul li.sel{
	color:#fff;
	background:#1bb8e2;
}
.guide dl dd.loanStuff ul img{
	float:left;
}
.guide dl dd.loanStuff .imgRoll{
	text-align:center;
}
.guide dl dd.loanStuff .imgRoll img{
	vertical-align:middle;
	margin:0 5px;
}

/* 我要投资 */
.guide dl dd.invest{
	line-height:24px;
	font-size:14px;
}
.guide dl dd.invest .font30{
	line-height:55px;
}
.guide dl dd.invest_1{
	padding:0 75px 0 35px;
	height:370px;
}
.guide dl dd.invest_1 p{
	padding-bottom:15px;
}
.guide dl dd.invest_1 img{
	margin-left:45px;
	position:relative;
	top:-50px;
}
.guide dl dd.invest_2{
	padding:0 0 30px 35px;
	position:relative;
}
.guide dl dd.invest_2 p.pTop{
	height:80px;
	padding:90px 0 0 155px;
	position:relative;
}
.guide dl dd.invest_2 p.pTop img{
	position:absolute;
	left:0;
	top:0;
}
.guide dl dd.invest_2 .imgRight{
	position:absolute;
	right:65px;
	bottom:65px;
}
.guide dl dd.invest_2 p{
	padding:0 500px 30px 0;
}
.guide dl dd.invest_3{
	padding:0 500px 0 35px;
	position:relative;
}
.guide dl dd.invest_3 img{
	position:absolute;
	right:70px;
}
.guide dl dd.invest_3 p{
	padding-bottom:20px;
}
.guide dl dd.invest_4{
	text-align:center;
	padding-bottom:30px;
}
.guide dl dd.invest_4 span.font30{
	text-align:left;
	display:block;
	padding:0 0 20px 36px;
}
.guide dl dd.invest_4 img{
	display:block;
	margin:0 auto;
}
.guide dl dd.invest_4 input{
	width:190px;
	height:44px;
	background:url(../images/pz_images/button_1.jpg) no-repeat;
	cursor:pointer;
	border:0;
	font-size:20px;
	color:#fff;
	margin-top:30px;
}

/* 我要借款 */
.loanWrap{
	background:url(../images/pz_images/loan_1.jpg) no-repeat;
}
.loan dl{
	border:1px solid #e0e0e0;
	background:#fff;
	margin-top:20px;
}
.loan dl dt{
	height:90px;
	position:relative;
}
.loan dl dt span{
	width:206px;
	height:67px;
	background:url(../images/pz_images/tit_bg_2.png) no-repeat;
	display:block;
	font-size:24px;
	text-align:center;
	color:#fff;
	line-height:52px;
	position:absolute;
	top:10px;
	left:-17px;
}
.loan dl dt a{
	width:190px;
	height:44px;
	float:right;
	background:url(../images/pz_images/button_1.jpg) no-repeat;
	font-size:20px;
	color:#fff;
	text-align:center;
	line-height:44px;
	margin:12px 18px 0 0;
}
.loan dl dd{
	font-size:16px;
}
.loan dl dd.loanArea_1{
	text-align:center;
	padding:0 0 20px 20px;
}
.loan dl dd.loanArea_1 ul li{
	float:left;
	text-align:center;
	width:185px;
	font-size:12px;
	line-height:19px;
}
.loan dl dd.loanArea_1 ul li p{
	font-size:16px;
	padding:25px 0 15px;
}
.loan dl dd.loanArea_1 .imgCorner{
	float:left;
	margin:0 10px;
}
.loan dl dd.loanArea_2{
	line-height:35px;
	padding:0 0 30px 45px;
}
.loan dl dd.loanArea_3{
	padding:0 0 20px 48px;
}
.loan dl dd.loanArea_3 ul li{
	height:45px;
	line-height:34px;
}
.loan dl dd.loanArea_3 ul li .name{
	width:130px;
	float:left;
}
.loan dl dd.loanArea_3 ul li .num{
	width:34px;
	height:34px;
	background:url(../images/pz_images/loan_3.jpg) no-repeat;
	display:inline-block;
	text-align:center;
	line-height:34px;
	margin-right:8px;
}
.loan dl dd.loanArea_4{
	padding:0 0 30px 0;
}
.loan dl dd.loanArea_4 p{
	line-height:45px;
	padding-left:48px;
}
.loan dl dd.loanArea_4 p.pLine{
	border-bottom:1px dashed #ddd;
}
.loan dl dd.loanArea_4 p .name{
	width:130px;
	float:left;
}
.loan dl dd.loanArea_4 input{
	width:190px;
	height:44px;
	background:url(../images/pz_images/button_1.jpg) no-repeat;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	border:0;
	margin:30px auto 0;
	display:block;
}