<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.account.dao.CmsAccountMapper" >
  <resultMap id="BaseResultMap" type="com.ekt.cms.account.entity.CmsAccount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="real_name" property="realName" jdbcType="CHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="CHAR" />
    <result column="cellphone" property="cellphone" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, user_name, password, real_name, role, cellphone, status
  </sql>
  
   <!-- 按主键查询-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM cms_account
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM cms_account
    WHERE id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 插入 -->
  <insert id="insert" parameterType="com.ekt.cms.account.entity.CmsAccount" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO cms_account ( user_name, password, 
      real_name, role, cellphone,create_date 
      )
    VALUES (#{userName,jdbcType=CHAR}, #{password,jdbcType=CHAR}, 
      #{realName,jdbcType=CHAR}, #{role,jdbcType=INTEGER}, #{cellphone,jdbcType=CHAR},SYSDATE())
  </insert>
  
 <!-- 更新 -->
  <update id="updateByPrimaryKey" parameterType="com.ekt.cms.account.entity.CmsAccount" >
    UPDATE cms_account
    SET 
     <if test="cmsAccount.password !=null and cmsAccount.password !=''">
      password = #{cmsAccount.password,jdbcType=CHAR},
      </if>
      <if test="cmsAccount.realName !=null and cmsAccount.realName !=''">
      real_name = #{cmsAccount.realName,jdbcType=CHAR},
      </if>
      <if test="cmsAccount.cellphone !=null and cmsAccount.cellphone!=''">
      cellphone = #{cmsAccount.cellphone,jdbcType=CHAR},
      </if>
      <if test="cmsAccount.status !=null and cmsAccount.status !=''">
      status = #{cmsAccount.status,jdbcType=INTEGER},
      </if>
        <if test="cmsAccount.role !=null and cmsAccount.role !=''">
      role = #{cmsAccount.role,jdbcType=INTEGER}
      </if>
    WHERE id = #{cmsAccount.id,jdbcType=INTEGER}
  </update>
  
    <update id="updateAccount" parameterType="com.ekt.cms.account.entity.CmsAccount" >
    UPDATE cms_account  SET 
    	 real_name = #{cmsAccount.realName,jdbcType=CHAR},
      	 cellphone = #{cmsAccount.cellphone,jdbcType=CHAR}
	WHERE id = #{cmsAccount.id,jdbcType=INTEGER}
  </update>
  
  
  
  
  <update id="confine" parameterType="com.ekt.cms.account.entity.CmsAccount"  >
  	UPDATE cms_account SET STATUS=#{cmsAccount.status}
  	WHERE id= #{cmsAccount.id}
  </update>
  
  
  
   <!-- 根据条件查询 -->
	<select id="queryByCondition" resultMap="BaseResultMap"
		parameterType="com.ekt.cms.account.entity.CmsAccount">
		SELECT * FROM cms_account WHERE 1=1
		<if test="cmsAccount.userName != null and cmsAccount.userName !='' ">
			AND (user_name like '%${cmsAccount.userName}%')
		</if>
		<if test="cmsAccount.status != null and cmsAccount.status !='' ">
			AND 1=#{cmsAccount.status}	
		</if>		
	</select>

	<!-- 分页查询 -->
	<select id="listPage" resultMap="BaseResultMap"
		parameterType="com.ekt.cms.account.entity.CmsAccount">
		SELECT a.*,r.name role_name FROM cms_account a 
		LEFT JOIN cms_role r on a.role=r.id
		WHERE 1=1
		<if test="cmsAccount.userName != null and cmsAccount.userName !='' ">
			AND (a.user_name like '%${cmsAccount.userName}%')
		</if>
		AND a.id &lt;&gt;1 ORDER BY a.id ASC
	</select>

	<select id="queryByUserName" resultType="com.ekt.cms.account.entity.CmsAccount" parameterType="java.lang.String">
		SELECT * FROM cms_account WHERE 1=1
			AND user_name =#{userName}	
	</select>

	<select id="listAccount" resultType="java.util.Map" parameterType="com.ekt.cms.account.entity.CmsAccount">
		SELECT * FROM cms_account WHERE 1=1
		<if test="cmsAccount.userName != null and cmsAccount.userName !='' ">
		AND user_name like '%#{cmsAccount.userName}%'
		</if>
	</select>
	
	<update id="setPwd" parameterType="com.ekt.cms.account.entity.CmsAccount">
		UPDATE cms_account SET password =#{cmsAccount.password} WHERE id=#{cmsAccount.id}		
	</update>
</mapper>