<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.account.dao.CmsLoginRecordMapper">
	<resultMap id="BaseResultMap" type="com.ekt.cms.account.entity.CmsLoginRecord">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="account_id" property="accountId" jdbcType="INTEGER" />
		<result column="account_name" property="accountName" jdbcType="CHAR" />
		<result column="real_name" property="realName" jdbcType="CHAR" />
		<result column="role_name" property="roleName" jdbcType="CHAR" />
		<result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertLoginRecord" parameterType="com.ekt.cms.account.entity.CmsLoginRecord">
		INSERT INTO cms_login_record ( `account_id`, `login_time`) VALUES
		(#{accountId}, SYSDATE())
	</insert>


	<select id="getCmsLoginRecordList" parameterType="com.ekt.cms.account.entity.CmsLoginRecord" resultMap="BaseResultMap">
		SELECT
			r.id,
			r.account_id,
			a.user_name AS account_name,
			s.`name` AS role_name,
			a.cellphone,
			r.login_time,
			a.real_name
			
		FROM
			cms_login_record r
			INNER JOIN cms_account a ON r.account_id = a.id
			INNER JOIN cms_role s on s.id=a.role
		WHERE 1=1
		<if test="accountName!=null and accountName!=''">
			AND a.user_name like '%${accountName}%'
			OR a.cellphone like '%${accountName}%'
			OR a.real_name like '%${accountName}%'
		</if>
		ORDER BY r.login_time DESC
	</select>
</mapper>