<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.teacher.dao.CmsTeacherMapper">
	
	<resultMap id="ResultMap" type="com.ekt.cms.teacher.entity.CmsTeacher">
			<result column="id" property="id" jdbcType="INTEGER" />
			<result column="name" property="name" jdbcType="VARCHAR" />
			<result column="sex" property="sex" jdbcType="VARCHAR" /> 
			<result column="head_picture" property="headPicture" jdbcType="VARCHAR" />
			<result column="school_id" property="schoolId" jdbcType="INTEGER" />
			<result column="school_name" property="schoolName" jdbcType="VARCHAR" />
			<result column="subject_no" property="subjectNo" jdbcType="INTEGER" />
			<result column="subject" property="subject" jdbcType="VARCHAR" />
			<result column="grade_no" property="gradeNo" jdbcType="INTEGER" /> 
			<result column="grade" property="grade" jdbcType="VARCHAR" />
			<result column="user_id" property="userId" jdbcType="INTEGER" /> 
			<result column="user_name" property="userName" jdbcType="VARCHAR" />
			<result column="motto" property="motto" jdbcType="VARCHAR" />
			<result column="info" property="info" jdbcType="VARCHAR" />
			<result column="phase_no" property="phaseNo" jdbcType="INTEGER" />
			<result column="phase" property="phase" jdbcType="VARCHAR" />
			<result column="is_famous" property="isFamous" jdbcType="INTEGER" />
	</resultMap>

	<select id="listPage" parameterType="com.ekt.cms.teacher.entity.CmsTeacher" resultMap="ResultMap">
				SELECT
					t.id,
					t.`name`,
					t.sex,
					t.head_picture,
					t.school_id,
					s.school_name,
					t.subject_no,
					d.`value` SUBJECT,
					t.grade_no,
					d2.`value` grade,
					t.user_id,
					u.user_name,
					t.motto,
					t.info,
					t.phase_no,
					d3.`value` phase,
					t.is_famous
				FROM
					api_teacher t
					LEFT JOIN cms_school s ON t.school_id = s.id
					LEFT JOIN cms_dictionary d ON t.subject_no = d.id
					LEFT JOIN cms_dictionary d2 ON t.grade_no = d2.id
					LEFT JOIN cms_dictionary d3 ON t.phase_no = d3.id
					LEFT JOIN api_user u ON t.user_id = u.id
				WHERE 1=1 
			<if test="cmsTeacher.subjectNo !=null and cmsTeacher.subjectNo!='' and cmsTeacher.subjectNo!=0">
				AND t.subject_no= #{cmsTeacher.subjectNo}
			</if>
			<if test="cmsTeacher.phaseNo!=null and cmsTeacher.phaseNo!='' and cmsTeacher.phaseNo!=0">
				AND t.phase_no= #{cmsTeacher.phaseNo}	
			</if>
			<if test="cmsTeacher.name != null and cmsTeacher.name!=''">
				AND ( t.name LIKE '%${cmsTeacher.name}%' ) 
			</if>
			
	</select>
	
	<select id="getCmsTeacherByUserIdAndTeacherName" resultType="com.ekt.cms.teacher.entity.CmsTeacher">
			SELECT
					t.id,
					t.`name`,
					t.sex,
					t.head_picture headPicture,
					t.school_id schoolId,
					s.school_name schoolName, 
					t.subject_no subjectNo,
					d.`value`  `subject`,
					t.grade_no gradeNo ,
					d2.`value` grade,
					t.user_id userId,
					u.user_name userName,
					t.motto,
					t.info,
					t.phase_no phaseNo,
					d3.`value` phase,
					t.is_famous isFamous
				FROM
					api_teacher t
					LEFT JOIN cms_school s ON t.school_id = s.id
					LEFT JOIN cms_dictionary d ON t.subject_no = d.id
					LEFT JOIN cms_dictionary d2 ON t.grade_no = d2.id
					LEFT JOIN cms_dictionary d3 ON t.phase_no = d3.id
					LEFT JOIN api_user u ON t.user_id = u.id
				WHERE 1=1 
				AND t.user_id=#{userId}
				AND t.name=#{teacherName}
	</select>
	<insert id="insertTeacher" parameterType="com.ekt.cms.teacher.entity.CmsTeacher">
	INSERT INTO api_teacher(
	 `name`,
	 `sex`,
	 `head_picture`, 
	 `school_id`,
	 `subject_no`,
	 `grade_no`,
  <if test="cmsTeacher.userId!=null and cmsTeacher.userId!='' and cmsTeacher.userId>1 ">
	 `user_id`, 
  </if> 
  <if test="cmsTeacher.motto!=null and cmsTeacher.motto!=''">
	 `motto`, 
  </if>
	 `info`, 
	 `phase_no`, 
	 `is_famous`
	 ) VALUES ( 
	 #{cmsTeacher.name},
	 #{cmsTeacher.sex},
	 #{cmsTeacher.headPicture},
	 #{cmsTeacher.schoolId},
	 #{cmsTeacher.subjectNo},
	 #{cmsTeacher.gradeNo},
  <if test="cmsTeacher.userId!=null and cmsTeacher.userId!='' and cmsTeacher.userId!=0 ">
	 #{cmsTeacher.userId}, 
  </if>
  <if test="cmsTeacher.motto!=null and cmsTeacher.motto!=''">
	 #{cmsTeacher.motto},
  </if>
  	 #{cmsTeacher.info},
	 #{cmsTeacher.phaseNo},
	 #{cmsTeacher.isFamous}	 
	 )
	
	
	
	
	</insert>


</mapper>