<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.common.dao.CmsDictMapper">
	<resultMap id="DictMap" type="com.ekt.cms.common.entity.CmsDict">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="value" property="value" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="type_encoding" property="typeEncoding" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="type_name" property="typeName" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, value, parent_id, type_encoding, status, remark,type_name
	</sql>
	<select id="selectByPrimaryKey" resultMap="DictMap"
		parameterType="java.lang.Integer">
		SELECT
		<include refid="Base_Column_List" />
		FROM cms_dictionary
		WHERE id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		DELETE FROM
		cms_dictionary
		WHERE id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.ekt.cms.common.entity.CmsDict">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO cms_dictionary ( value, parent_id,
		type_encoding, remark,type_name ,status
		)
		VALUES
		(#{value,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER},
		#{typeEncoding,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},#{typeName, jdbcType=VARCHAR},1
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.ekt.cms.common.entity.CmsDict">
		UPDATE
		cms_dictionary
		SET value = #{value,jdbcType=VARCHAR},
		parent_id =
		#{parentId,jdbcType=INTEGER},
		type_encoding = #{typeEncoding,jdbcType=VARCHAR},
		status =#{status,jdbcType=INTEGER},		
		remark = #{remark,jdbcType=VARCHAR},
		type_name=#{typeName,jdbcType=VARCHAR}
		WHERE id
		= #{id,jdbcType=INTEGER}
	</update>

	<!-- 根据条件查询字典表 -->
	<select id="queryByCondition" resultMap="DictMap"
		parameterType="com.ekt.cms.common.entity.CmsDict">
		SELECT * FROM cms_dictionary WHERE 1 = 1
		 	AND `status` =1
		<if test="CmsDict.value != null and CmsDict.value !='' ">
			AND value = #{CmsDict.value}
		</if>
		<if test="CmsDict.parentId != null and CmsDict.parentId !=''">
			AND parent_id=#{ CmsDict.parentId }
		</if>
		<if test="CmsDict.typeEncoding != null and CmsDict.typeEncoding !=''">
			AND type_encoding=#{ CmsDict.typeEncoding }
		</if>
		<if test="CmsDict.remark != null and CmsDict.remark !=''">
			AND remark=#{ CmsDict.remark }
		</if>
		<if test="CmsDict.typeName != null and CmsDict.typeName !=''">
			AND type_name=#{ CmsDict.typeName }
		</if>
		<if test="CmsDict.status != null and CmsDict.status !=''">
			AND status=#{ CmsDict.status }
		</if>
	</select>

	<!-- 根据条件分页查询字典表 -->
	<select id="listDictPage" resultMap="DictMap"
		parameterType="com.ekt.cms.common.entity.CmsDict">
		SELECT * FROM cms_dictionary WHERE 1 = 1
		<if test="CmsDict.value != null and CmsDict.value !='' ">
			AND (value like '%${CmsDict.value}%')
		</if>
		<if test="CmsDict.parentId != null and CmsDict.parentId !=''">
			AND parent_id=#{ CmsDict.parentId }
		</if>
		<if test="CmsDict.typeEncoding != null and CmsDict.typeEncoding !=''">
			AND type_encoding=#{ CmsDict.typeEncoding }
		</if>
		<if test="CmsDict.status != null and CmsDict.status !=''">
			AND status=#{ CmsDict.status }
		</if>
		<if test="CmsDict.remark != null and CmsDict.remark !=''">
			AND remark=#{ CmsDict.remark }
		</if>
		<if test="CmsDict.typeName != null and CmsDict.typeName !=''">
			AND type_name=#{ CmsDict.typeName }
		</if>
	</select>

	<!-- 停用启用字典 -->
	<update id="confine" parameterType="com.ekt.cms.common.entity.CmsDict">
		UPDATE cms_dictionary SET
		status=#{CmsDict.status}
		WHERE id= #{CmsDict.id}
	</update>

	<!-- 根据字典值查询 -->
	<select id="queryByDictName" resultMap="DictMap"
		parameterType="java.lang.String">
		SELECT * FROM cms_dictionary WHERE 1=1
		AND value =#{value}
	</select>
	
	<!-- 查询所有的字典类型名称 -->
	<select id="queryTypeName" resultMap="DictMap">
		SELECT  *
		FROM 
		cms_dictionary
		group by type_name
	</select>
	
	<select id="famousTeacher" resultType="java.util.Map">
		SELECT id,name FROM api_teacher	
	</select>
	
</mapper> 