<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.common.dao.CmsKnowledgeMapper">
	<resultMap type="com.ekt.cms.common.entity.CmsKnowledge" id="BaseMap">
		<id column="id" property="id" jdbcType="INTEGER"></id>
		<result column="title" property="title" jdbcType="VARCHAR"></result>
		<result column="grade_no" property="gradeNo" jdbcType="INTEGER"></result>
		<result column="order_no" property="orderNo" jdbcType="INTEGER"></result>
		<result column="subject_no" property="subjectNo" jdbcType="INTEGER"></result>
		<result column="grade" property="grade" jdbcType="VARCHAR"></result>
		<result column="suject" property="subject" jdbcType="VARCHAR"></result>
		<result column="status" property="status" jdbcType="INTEGER"></result>
	</resultMap>
	<!-- listpage -->
	<select id="listPage" resultMap="BaseMap"
		parameterType="com.ekt.cms.common.entity.CmsKnowledge">
		SELECT
		k.id id,
		title,
		k.grade_no grade_no ,
		k.subject_no
		subject_no,
		order_no,
		k.status status,
		d.value grade ,
		dc.value subject
		FROM cms_knowledge_point k
		LEFT JOIN cms_dictionary d on
		d.id=k.grade_no
		LEFT JOIN cms_dictionary dc on dc.id=k.subject_no
		WHERE 1=1
		<if test="CmsKnowledge.title !=null and CmsKnowledge.title != ''">
			AND (title like '%${CmsKnowledge.title}%')
		</if>
		<if test="CmsKnowledge.gradeNo !=null and CmsKnowledge.gradeNo !=0" >
			AND grade_no=#{CmsKnowledge.gradeNo ,jdbcType=INTEGER}
		</if>
		<if test="CmsKnowledge.subjectNo !=null and CmsKnowledge.subjectNo !=0">
			AND subject_no=#{CmsKnowledge.subjectNo, jdbcType=INTEGER}
		</if>
		
	</select>
	<select id="knowledgelist" resultMap="BaseMap" parameterType="com.ekt.cms.common.entity.CmsKnowledge" >
		SELECT 
			P.id,
			P.title,
			D.`value` grade,
			D1.`value` subject
		FROM cms_knowledge_point P 
		LEFT JOIN cms_dictionary D ON P.grade_no=D.id
		LEFT JOIN cms_dictionary D1 ON P.subject_no=D1.id
		WHERE p.`status`&lt;&gt; 0
		AND p.grade_no=#{CmsKnowledge.gradeNo, jdbcType=INTEGER}
		AND p.subject_no=#{CmsKnowledge.subjectNo, jdbcType=INTEGER}
	</select>
	<!-- update -->
	<update id="updateByPrimaryKey" parameterType="com.ekt.cms.common.entity.CmsKnowledge">
		UPDATE cms_knowledge_point
		SET
		<if test="CmsKnowledge.title !=null and CmsKnowledge.title != ''">
			title=#{CmsKnowledge.title, jdbcType=VARCHAR},
		</if>
		<if test="CmsKnowledge.gradeNo !=null ">
			grade_no=#{CmsKnowledge.gradeNo ,jdbcType=INTEGER},
		</if>
		<if test="CmsKnowledge.subjectNo !=null ">
			subject_no=#{CmsKnowledge.subjectNo, jdbcType=INTEGER},
		</if>
		<if test="CmsKnowledge.orderNo !=null ">
			order_no=#{CmsKnowledge.orderNo ,jdbcType=INTEGER},
		</if>
		status=1
		WHERE
		id=#{CmsKnowledge.id ,jdbcType=INTEGER}
	</update>
	<!-- 新增 -->
	<insert id="insert" parameterType="com.ekt.cms.common.entity.CmsKnowledge">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO
		cms_knowledge_point
		(title ,order_no, grade_no ,subject_no, status)
		VALUES
		(#{CmsKnowledge.title,jdbcType=VARCHAR},#{CmsKnowledge.orderNo,jdbcType=INTEGER},#{CmsKnowledge.gradeNo,jdbcType=INTEGER},#{CmsKnowledge.subjectNo,jdbcType=INTEGER},1
		)
	</insert>
	<!-- 按条件查询 -->
	<select id="queryByCondition" resultMap="BaseMap"
		parameterType="com.ekt.cms.common.entity.CmsKnowledge">
		SELECT *
		FROM cms_knowledge_point
		WHERE 1=1
		<if test="CmsKnowledge.title !=null and CmsKnowledge.title != ''">
			AND (title like '%${CmsKnowledge.title}%')
		</if>
		<if test="CmsKnowledge.gradeNo !=null and CmsKnowledge.gradeNo !=0">
			AND grade_no=#{CmsKnowledge.gradeNo ,jdbcType=INTEGER}
		</if>
		<if test="CmsKnowledge.subjectNo !=null and CmsKnowledge.subjectNo !=0">
			AND subject_no=#{CmsKnowledge.subjectNo, jdbcType=INTEGER}
		</if>
	</select>
	<!-- 启用/停用知识点 -->
		<update id="confine" parameterType="com.ekt.cms.common.entity.CmsKnowledge">
			UPDATE cms_knowledge_point
			SET 
			status=#{CmsKnowledge.status}
			WHERE
			id=#{CmsKnowledge.id }
		</update>
	<!-- 按知识点名字查询 -->
		<select id="queryByTitle" resultMap="BaseMap" parameterType="com.ekt.cms.common.entity.CmsKnowledge">
		SELECT *
		FROM cms_knowledge_point
		WHERE 1=1
		<if test="CmsKnowledge.title !=null and CmsKnowledge.title != ''">
			AND title=#{CmsKnowledge.title, jdbcType=VARCHAR}
		</if>
		<if test="CmsKnowledge.gradeNo !=null and CmsKnowledge.gradeNo !=0">
			AND grade_no=#{CmsKnowledge.gradeNo ,jdbcType=INTEGER}
		</if>
		<if test="CmsKnowledge.subjectNo !=null and CmsKnowledge.subjectNo !=0">
			AND subject_no=#{CmsKnowledge.subjectNo, jdbcType=INTEGER}
		</if>
		</select>
	<!-- 删除 -->
		<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM
		cms_knowledge_point
		WHERE id = #{id,jdbcType=INTEGER}
	</delete>
<!-- 	根据年级查询科目集合 -->
	<select id="getSubjectListByGrade"  resultMap="BaseMap" parameterType="java.lang.Integer" >
		SELECT
			d.id subject_no,
			d.`value`
			subject
		FROM
			cms_knowledge_point p
		LEFT JOIN cms_dictionary d ON p.subject_no = d.id
		WHERE
			p.grade_no = #{ gradeNo }
		GROUP BY p.subject_no
	</select>
<!-- 	获取知识点树 -->
	<select id="knowledgeTree" resultType="java.util.Map" parameterType="java.lang.Integer">
			SELECT
			id,
			'false' checked,
			'false' chkDisabled,
			title name,
			'false' oncheck,
			'true' open,
			'0' pId,
			'false' parent
		FROM
			cms_knowledge_point
		WHERE
		status &lt;&gt; 0
		AND	grade_no =  #{gradeNo}
		AND subject_no = #{subjectNo}
		UNION (
				SELECT '0'id,
					'false' checked,
					'false' chkDisabled,
					'全部' name,
					'false' oncheck,
					'true' open,
					'-1' pId,
					'true' parent)
	</select>
</mapper>