<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.common.dao.CmsRegionMapper">
	<resultMap id="RegionMap" type="com.ekt.cms.common.entity.CmsRegion">
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="area" property="area" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>

	<!-- 分页查询 -->
	<select id="listPage" resultMap="RegionMap" parameterType="com.ekt.cms.common.entity.CmsRegion">
	SELECT
		r2.area_code code,
		r.area_name province ,
		r1.area_name city ,
		r2.area_name area ,
		r2.status status
	FROM
		cms_region r
		LEFT JOIN cms_region r1 ON r.area_code = r1.parent_code
		LEFT JOIN cms_region r2 ON r1.area_code = r2.parent_code
	WHERE r.parent_code =0
		<if test="CmsRegion.province !=null and CmsRegion.province != ''">
			AND (r.area_name like '%${CmsRegion.province}%')
		</if>
		<if test="CmsRegion.city !=null and CmsRegion.city != ''">
			OR (r1.area_name  like '%${CmsRegion.city}%')
		</if>
		<if test="CmsRegion.area !=null and CmsRegion.area != ''">
			OR (r2.area like '%${CmsRegion.area}%')
		</if>
	</select>
	<!-- 停启用 -->
	<update id="confine" parameterType="com.ekt.cms.common.entity.CmsRegion">
	UPDATE 
		cms_region 
	SET
		status=#{CmsRegion.status}
	WHERE
		area_code=#{CmsRegion.code}
	</update>
	
</mapper> 