<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.common.dao.DictMapper" >
  <resultMap id="DictMap" type="com.ekt.cms.common.entity.Dict" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, value, parent_id, type, status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="DictMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cms_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cms_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.ekt.cms.common.entity.Dict" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_dictionary (id, value, parent_id, 
      type, status, remark
      )
    values (#{id,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{parent_id,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.ekt.cms.common.entity.Dict" >
    update cms_dictionary
    set value = #{value,jdbcType=VARCHAR},
      parentId = #{parent_id,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据条件查询字典表 -->
  <select id="queryByCondition" resultMap="DictMap"
		parameterType="com.ekt.cms.common.entity.Dict">
		select * from cms_dictionary where 1 = 1
		<if test="dict.value != null and dict.value !='' ">
			and (value like '%${dict.value}%')
		</if>
		<if test="dict.parentId != null and dict.parentId !=''">
			and parent_id=#{ dict.parentId }
		</if>
		<if test="dict.type != null and dict.type !=''">
			and type=#{ dict.type }
		</if>
		<if test="dict.status != null and dict.status !=''">
			and type=#{ dict.status }
		</if>
	</select>
	
	<!-- 根据条件分页查询字典表 -->
  <select id="listDictPage" resultMap="DictMap"
		parameterType="com.ekt.cms.common.entity.Dict">
		select * from cms_dictionary where 1 = 1
		<if test="dict.value != null and dict.value !='' ">
			and (value like '%${dict.value}%')
		</if>
		<if test="dict.parentId != null and dict.parentId !=''">
			and parent_id=#{ dict.parentId }
		</if>
		<if test="dict.type != null and dict.type !=''">
			and type=#{ dict.type }
		</if>
		<if test="dict.status != null and dict.status !=''">
			and type=#{ dict.status }
		</if>
	</select>
  
</mapper>