<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.quintessence.dao.CmsQuintessenceMapper">
	
	<resultMap id="QuintessenceMap" type="com.ekt.cms.quintessence.entity.CmsQuintessence">
			<result column="id" property="id" jdbcType="INTEGER" /> 
			<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
			<result column="content_type" property="contentType" jdbcType="INTEGER" />
			<result column="content_id" property="contentId" jdbcType="INTEGER" />
			<result column="publish_date" property="publishDate" jdbcType="TIMESTAMP" />
			<result column="name" property="name" jdbcType="VARCHAR" />
			<result column="total_count" property="totalCount" jdbcType="INTEGER" />
			<result column="type" property="type" jdbcType="VARCHAR" />			
	</resultMap>
	
<!-- 	每日精选列表 -->
	<select id="listPage" parameterType="com.ekt.cms.quintessence.entity.CmsQuintessence" resultMap="QuintessenceMap">
		SELECT * FROM(	
				SELECT
					q.*,  
					IF(t.title IS NULL,t1.testpaper_name,t.title)AS name,
			 		IF(t.title IS NULL,COUNT(d.id),COUNT(c.id))total_count,
					IF(q.content_type=1,'组卷','课程')AS type
				FROM
					api_quintessence q
				LEFT JOIN cms_textbook t ON q.content_id = t.id
				AND q.content_type = 2
				AND t.`status` = 1
				LEFT JOIN cms_catalog c on t.id=c.textbook_id AND c.catalog_level=52
				LEFT JOIN api_testpaper t1 ON q.content_id=t1.id AND q.content_type=1
				LEFT JOIN api_exercise_detail d  on d.testpaper_id=t1.id AND d.task_id IS NULL
				GROUP BY q.content_id
		)AS a
			WHERE 1=1
			<if test="name!=null and name!=''">
				AND  a.name LIKE '%${name}%' 
			</if>
			<if test="contentType!=0">
			  	AND a.content_type=#{contentType}
			</if>	
	</select>
	
<!-- 	删除精选 -->
	<delete id="delQuintessenceById" parameterType="java.lang.Integer">
		 DELETE FROM api_quintessence WHERE id=#{id}
	</delete>
<!-- 	获取可选教材 -->
	<select id="getQuintessenceTextbook" resultType="java.util.Map">
			SELECT id,title AS name FROM cms_textbook WHERE `status`=1
	</select>
<!-- 	获取可选的组卷 -->
	<select id="getQuintessenceTestpaper" resultType="java.util.Map">
			SELECT id,testpaper_name AS name FROM api_testpaper WHERE `status`=1 AND user_id=65
	</select>
	
	<insert id="addQuintessence" parameterType="com.ekt.cms.quintessence.entity.CmsQuintessence">
			INSERT INTO api_quintessence(
			 `create_time`,
			 `content_type`,
			 `content_id`,
			 `publish_date`
			 ) VALUES (
			 	SYSDATE(),
			 	#{contentType},
			 	#{contentId},
			 	#{type}
			 )
	</insert>
	
	<select id="getQuintessence" parameterType="com.ekt.cms.quintessence.entity.CmsQuintessence" resultMap="QuintessenceMap">
		SELECT * FROM 
			api_quintessence 
		WHERE 1=1
		<if test="contentType!=0 and contentType!=-1">
		AND content_type=#{contentType}
		</if>
		<if test="contentId !=0">
		AND content_id=#{contentId} 
		</if>
	</select>

</mapper>