<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.quintessence.dao.CmsQuintessenceMapper">
	
	<resultMap id="quintessenceMap" type="com.ekt.cms.quintessence.entity.CmsQuintessence">
		<result column="testpaper_id" property="id" jdbcType="INTEGER" />	 
		<result column="testpaper_name" property="testpaperName" jdbcType="VARCHAR" />	
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />	
		<result column="knowledge_point_arr_val" property="knowledgePointArrVal" jdbcType="VARCHAR" />	
		<result column="difficulty" property="difficulty" jdbcType="VARCHAR" />	
		<result column="digest" property="digest" jdbcType="VARCHAR" />	
		<result column="user_id" property="userId" jdbcType="INTEGER" />	
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />	
		<result column="type" property="type" jdbcType="VARCHAR" />	
		<result column="exercise_count" property="exerciseCount" jdbcType="INTEGER" />	
		<result column="examine_status" property="examineStatus" jdbcType="INTEGER" />	
		<result column="subject" property="subject" jdbcType="VARCHAR" />	
		<result column="grade" property="grade" jdbcType="VARCHAR" />		
		<result column="real_name" property="realName" jdbcType="VARCHAR" />			
	</resultMap>
	
	
	<select id="listPage" parameterType="com.ekt.cms.quintessence.entity.CmsQuintessence" resultMap="quintessenceMap">	
			SELECT
				t.id AS testpaper_id,
				d2.`value` AS grade,
				d1.`value` AS subject,
				t.testpaper_name,
				t.create_time,
				t.knowledge_point_arr_val,
				d.`value` AS difficulty,
				t.digest,
				t.user_id,
				u.teacher_id,
			    CASE t.type  WHEN 2 THEN '每日精选' WHEN 3 THEN '题库组卷' END AS type,
				COUNT(1) AS exercise_count,
				t.examine_status,
				a.real_name
			FROM
				api_testpaper t 
			LEFT JOIN api_user u on t.user_id=u.id
			LEFT JOIN cms_dictionary d on d.id=t.difficulty_no
			LEFT JOIN api_exercise_detail de on de.testpaper_id=t.id
			LEFT JOIN cms_dictionary d1 on d1.id=t.subject_no
			LEFT JOIN cms_exercise e on e.id=de.exercise_id
			LEFT JOIN cms_dictionary d2 on d2.id=e.grade_no
			LEFT JOIN cms_account a on t.user_id=a.ektapi_user_id
			WHERE 1=1
				<if test="difficultyNo!=0">
					AND t.difficulty_no=#{difficultyNo}
				</if>
				<if test="subjectNo!=0">
					AND t.subject_no =#{subjectNo}
				</if>
				<if test="gradeNo !=0">
					AND e.grade_no =#{gradeNo}				
				</if>
				<if test="examineStatus !=2">
					AND t.examine_status=#{examineStatus}				
				</if>
				<if test="typeNo!=0">
					AND t.type =#{typeNo}
				</if>
				<if test="userId!=0">
					AND t.user_id =#{userId}
				</if>
				
				<if test="testpaperName!=null and testpaperName!='' ">
					AND( t.testpaper_name like '%${testpaperName}%'
					OR 	t.knowledge_point_arr_val like '%${testpaperName}%'	)		
				</if>
				AND u.teacher_id IS NOT NULL
				AND t.type &lt;&gt; 1
				AND t.is_finish=0
				AND t.type &lt;&gt; 4
			GROUP BY t.id
			ORDER BY t.create_time DESC
	</select>
	
	<select id="getTeacherList" resultType="java.util.Map">
		SELECT
			id AS userId,
			nickname,
			user_name AS username
		FROM
			api_user
		WHERE
			`status` = 0
		AND teacher_id IS NOT NULL
	</select>
	
	<update id="confine" parameterType="java.lang.Integer">
		UPDATE api_testpaper SET examine_status=IF(examine_status=1,0,1) WHERE id =#{id}
	</update>
</mapper>