<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.textbook.dao.CmsCatalogMapper">
	<resultMap id="BaseResultMap" type="com.ekt.cms.textbook.entity.CmsCatalog">
		<id column="id" property="id" jdbcType="INTEGER" />
		<id column="catalog_name" property="catalogName" jdbcType="VARCHAR" />
		<id column="textbook_id" property="textbookId" jdbcType="INTEGER" />
		<id column="order_no" property="orderNo" jdbcType="INTEGER" />
		<id column="status" property="status" jdbcType="INTEGER" />
		<id column="parent_id" property="parentId" jdbcType="INTEGER" />
		<id column="catalog_level" property="catalogLevel" jdbcType="INTEGER" />
		<id column="level_name" property="levelName" jdbcType="VARCHAR" />
		<id column="introduction" property="introduction" jdbcType="VARCHAR" />
		<id column="video_file_name" property="videoFileName" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="pageList" resultMap="BaseResultMap" parameterType="com.ekt.cms.textbook.entity.CmsCatalog">
		SELECT c.*,
			   d.value level_name
	    FROM 
	    cms_catalog c LEFT JOIN cms_dictionary d on c.catalog_level=d.id 
		WHERE 1=1 
		AND textbook_id=#{catalog.textbookId}
	<if test="catalog.catalogLevel !=null and catalog.catalogLevel !='' and catalog.catalogLevel !=0 ">
		AND c.catalog_level=#{catalog.catalogLevel}
	</if>
	<if test="catalog.parentId !=null and catalog.parentId !='' and catalog.parentId !=0">
		AND c.parent_id =#{catalog.parentId}	
	</if>
	<if test="catalog.catalogName !=null and catalog.catalogName !=''">
		AND (c.catalog_name like %${catalog.catalogName}%)
	</if>
		ORDER by c.parent_id
	</select>
	
	
	
	<update id="updata" parameterType="com.ekt.cms.textbook.entity.CmsCatalog">
	UPDATE cms_catalog 
		SET
			catalog_name=#{catalog.catalogName},
			order_no=#{catalog.orderNo}, 
			status=#{catalog.status},		
			video_file_name=#{catalog.videoFileName},
			introduction = #{catalog.introduction}	
		 WHERE 
	 			id=#{catalog.id};	
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM cms_catalog WHERE id=#{id}
	</delete>
	
	<delete id="deleteByTextbookId" parameterType="java.lang.Integer">
		DELETE FROM cms_catalog WHERE textbook_id=#{textbookId}
	</delete>
	
	<update id="confine" parameterType="java.lang.Integer">
		 UPDATE  cms_catalog SET status=#{status} WHERE id=#{id}
	</update>
	
	<insert id="add" parameterType="com.ekt.cms.textbook.entity.CmsCatalog" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cms_catalog 
			(catalog_name,
			 textbook_id,
			 order_no,
			 parent_id,
			 <if test="videoFileName !=null and videoFileName !=''">
			 video_file_name,
			 </if>
			<if test="introduction !=null and introduction !=''">
			 introduction,
			</if>
			 catalog_level,
			 status,
			 video_id
			 )VALUES(
			 #{catalogName},
			 #{textbookId},
			 #{orderNo},
			 #{parentId},
		 <if test="videoFileName !=null and videoFileName !=''">
			 #{videoFileName},
		</if>
		 <if test="introduction !=null and introduction !=''">
		 	 #{introduction},
		 </if>
			 #{catalogLevel},
			 1,
			 #{videoId}
			 )
	</insert>
	
	<select id="queryBycatalogName"  resultType="java.util.Map">
		SELECT * FROM 	cms_catalog WHERE  textbook_id= #{textbookId} and  catalog_name = #{catalogName} 
	</select>
	<select id="getCatalogParentList" resultType="java.util.Map">
		SELECT * FROM 
			cms_catalog 
		WHERE 
			catalog_level=#{levelNo} 
		AND 
			textbook_id=#{textbookId}
		AND status&lt;&gt;0
	</select>
	<delete id="deleteByParentId" parameterType="java.lang.Integer" >
		DELETE FROM cms_catalog WHERE parent_id=#{parentId}
	</delete>
	<select id="queryCatalogByName" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT
			t.title textbookName,c1.catalog_name catalogParent,c.catalog_name catalogName
		FROM
			cms_catalog c
		LEFT JOIN cms_textbook t ON c.textbook_id = t.id
		LEFT JOIN cms_catalog c1 on c.parent_id=c1.id 
		WHERE
			c.video_file_name = #{videoFileName}
	</select>	
	<select id="getCatalogParentListByTextbookId" parameterType="java.lang.Integer" resultType="java.util.Map">
		SELECT 
			id,
			catalog_name,
			order_no,
			introduction
		FROM
			cms_catalog
		WHERE
			textbook_id = #{textbookId}
		AND catalog_level = 51
		ORDER BY
			order_no			
	</select>
	
	<select id="getCatalogListByParentId" parameterType="java.lang.Integer" resultType="java.util.Map">
		SELECT id,
			catalog_name,
			order_no,
			video_file_name,
			introduction
		FROM
			cms_catalog
		WHERE
			parent_id=#{parentId}
		ORDER BY
		order_no asc
	</select>
	
	<update id="updateCatalogVideoFileNameByVideoFileName" parameterType="java.lang.String">
		UPDATE cms_catalog SET video_file_name=#{newFileName} WHERE  video_file_name=#{fileName}
	</update>
	
	
</mapper>