<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.textbook.dao.CmsTextbookMapper">
	<resultMap id="BaseResultMap" type="com.ekt.cms.textbook.entity.CmsTextbook">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="phase_no" property="phaseNo" jdbcType="INTEGER" />
		<result column="grade_no" property="gradeNo" jdbcType="INTEGER" />
		<result column="grade" property="grade" jdbcType="VARCHAR" />
		<result column="subject_no" property="subjectNo" jdbcType="INTEGER" />
		<result column="subject" property="subject" jdbcType="VARCHAR" />
		<result column="publisher_no" property="publisherNo" jdbcType="INTEGER" />
		<result column="publisher" property="publisher" jdbcType="VARCHAR" />
		<result column="textbook_type_no" property="textbookTypeNo" jdbcType="INTEGER" />
		<result column="textbook_type" property="textbookType"
			jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="knowledge_point_arr" property="knowledgePointArr"
			jdbcType="VARCHAR" />
		<result column="digest" property="digest" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="real_name" property="inputAccountRealName" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="original_price" property="originalPrice"  jdbcType="DOUBLE" />
		<result column="discount" property="discount" jdbcType="DOUBLE" />
		<result column="is_hot" property="isHot" jdbcType="INTEGER" />
		<result column="crate_time" property="crateTime" jdbcType="DATE" />
		<result column="knowledge_point_arr_val" property="knowledgePointArrVal" jdbcType="VARCHAR" />
		<result column="chapter_count" property="chapterCount" jdbcType="INTEGER" />
		<result column="section_count" property="sectionCount" jdbcType="INTEGER" />
		<result column="is_recommend" property="isRecommend" jdbcType="INTEGER" />
		<result column="child_count" property="childCount" jdbcType="INTEGER" />
		<result column="is_collection" property="isCollection" jdbcType="INTEGER" />
		<result column="type_order_no" property="typeOrderNo" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.ekt.cms.textbook.entity.CmsCatalogMessage" id="CmsCatalogMessageMap">
			<result column="id" property="id"  jdbcType="INTEGER" />
			<result column="catalog_name" property="catalogName"  jdbcType="VARCHAR" />
			<result column="introduction" property="introduction" jdbcType="VARCHAR"/>
			<result column="textbook_id" property="textbookId"  jdbcType="INTEGER" />
			<result column="grade_no" property="gradeNo"  jdbcType="INTEGER" />
			<result column="subject_no" property="subjectNo"  jdbcType="INTEGER" />
			<result column="phase_no" property="phaseNo"  jdbcType="INTEGER" />
			<result column="is_hot" property="isHot"  jdbcType="INTEGER" />
			<result column="status" property="status"  jdbcType="INTEGER" />
			<result column="textbook_type_no" property="textbookTypeNo"  jdbcType="INTEGER" />
			<result column="knowledge_point_arr" property="knowledgePointArr" jdbcType="VARCHAR"/>
			<result column="discount" property="discount"  jdbcType="DOUBLE" />
			<result column="isfree" property="isfree"  jdbcType="INTEGER" />
			<result column="image_url" property="imageUrl"  jdbcType="VARCHAR" />
			<result column="video_file_name" property="videoFileName"  jdbcType="VARCHAR" />
			<result column="price" property="price"  jdbcType="DOUBLE" />
	</resultMap>
	
	
	<select id="listPage" resultMap="BaseResultMap"	parameterType="com.ekt.cms.textbook.entity.CmsTextbook">
					SELECT
					t.id,
					t.title,
					t.phase_no,
					t.grade_no,
					d.`value` grade,
					t.subject_no,
					d1.`value` SUBJECT,
				
					t.textbook_type_no,
					d3.`value` textbook_type,
					ft.`name` author,
					t.digest,
					t.knowledge_point_arr,
					t.img_url,
					t.`status`,
					t.input_account_id,
					ac.real_name,
					t.crate_time,
					t.discount,
					t.price,
					t.original_price,
					t.is_hot,
					t.is_recommend,
					t.is_collection,
					COUNT(ca.catalog_level=51 OR NULL)chapter_count,
					COUNT(ca.catalog_level=52 OR NULL)section_count,
					0 AS child_count,
					t.type_order_no
				FROM
				cms_textbook t
				LEFT JOIN cms_account ac on t.input_account_id=ac.id
				INNER JOIN cms_dictionary d ON t.grade_no = d.id
				INNER JOIN cms_dictionary d1 ON t.subject_no = d1.id
				INNER JOIN cms_dictionary d3 ON t.textbook_type_no = d3.id
				LEFT JOIN api_teacher ft on ft.id=t.author_id
				LEFT JOIN cms_catalog ca on ca.textbook_id=t.id 
				WHERE 1=1
				<if test="textbook.title !=null and textbook.title !=''">
					AND (t.title like '%${textbook.title}%')
				</if>
				<if test="textbook.subjectNo!=null and textbook.subjectNo!='' and textbook.subjectNo !=0">
					AND t.subject_no=#{textbook.subjectNo}
				</if>
				<if test="textbook.gradeNo!=null and textbook.gradeNo!='' and textbook.gradeNo !=0 ">
					AND t.grade_no= #{textbook.gradeNo}
				</if>
				<if test="textbook.publisherNo!=null and textbook.publisherNo!=''">
					AND t.publisher_no= #{textbook.publisherNo}
				</if>
				<if test="textbook.textbookTypeNo !=null and textbook.textbookTypeNo !=''">
					AND t.textbook_type_no=#{textbook.textbookTypeNo}
				</if>
				<if test="textbook.isRecommend!=null and textbook.isRecommend!=2">
					AND t.is_recommend=#{textbook.isRecommend}	
				</if>
					GROUP BY t.id
					ORDER BY t.type_order_no,t.is_hot 
			</select>
			
			<select id="getTextbookCountByTextbookTitle" resultType="java.lang.Integer"	parameterType="java.lang.String">
				SELECT
					count(1)
				FROM
				cms_textbook t
				WHERE 1=1
				AND t.title = #{textbookTitle}
			
				
			</select>
			
	<insert id="insertTextbook" parameterType="com.ekt.cms.textbook.entity.CmsTextbook" useGeneratedKeys="true" keyProperty="id">
			INSERT INTO cms_textbook(
				phase_no,
				grade_no,
				subject_no,
				publisher_no,
				textbook_type_no,
				title,
				knowledge_point_arr,
				knowledge_point_arr_val,
				digest,
				author_id,
				img_url,
				input_account_id,
				crate_time,
				isfree,
				price,
				original_price,
				discount,
				status,
				is_hot,
				parent_id,
				is_recommend,
				is_collection,
				type_order_no
			)VALUES(
				#{phaseNo},
				#{gradeNo },
				#{subjectNo},
				#{publisherNo},
				#{textbookTypeNo},
				#{title},
				CONCAT(',',#{knowledgePointArr}),
				CONCAT(',',#{knowledgePointArrVal}),
				#{digest},		
				#{authorId},
				#{imgUrl},
				#{inputAccountId},
				SYSDATE(),
				#{isFree},
				#{price},
				#{originalPrice},
				#{discount},
				1,
				#{isHot},
				#{parentId},
				0,
				#{isCollection},
				#{typeOrderNo}
			)
	</insert>
	<delete id="deleteTextbook" parameterType="java.lang.Integer">
		DELETE FROM cms_textbook WHERE id=#{id}
	</delete>
	
	<update id="confine" parameterType="java.lang.Integer">
		UPDATE cms_textbook SET status = #{status} WHERE id=#{id}
	</update>
	
	<update id="updateTextbook" parameterType="com.ekt.cms.textbook.entity.CmsTextbook">
	
		UPDATE 
			cms_textbook 
		SET 
		<if test="phaseNo !=null and phaseNo !=''">
			phase_no=#{phaseNo},
		</if>
		<if test="gradeNo !=null and gradeNo !=''">
			grade_no=#{gradeNo},
		</if>
		<if test="subjectNo !=null and subjectNo !=''">
			subject_no=#{subjectNo}, 
		</if>
		<if test="publisherNo !=null and publisherNo !=''">
			publisher_no=#{publisherNo}, 
		</if>
		<if test="textbookType !=null and textbookType !=''">
			textbook_type_no=#{textbookType},
		</if>
		<if test="isCollection !=null">
		    is_collection=#{isCollection},
		</if>
		<if test="title !=null and title !=''">
			title=#{title}, 
		</if>
			knowledge_point_arr=CONCAT(',',#{knowledgePointArr}),
			knowledge_point_arr_val=CONCAT(',',#{knowledgePointArrVal}),
		<if test="digest !=null and digest !=''">
			digest=#{digest},
		</if>
		<if test="authorId==0">
			author_id=null, 
		</if>
		<if test="authorId!=0">
			author_id=#{authorId}, 
		</if>
		<if test="imgUrl !=null and imgUrl !=''">
			img_url=#{imgUrl}, 
		</if>
		<if test="status !=null and status !=''">
			status=#{status}, 
		</if>
		<if test="inputAccountId !=null and inputAccountId !=0">
			input_account_id =#{inputAccountId}  ,
		</if>
			price =#{price},
		    original_price=#{originalPrice},
		<if test="discount !=null and discount !=''">
			discount =#{discount},
		</if>
			is_hot =#{isHot},			
			isfree =#{isFree},
			type_order_no=#{typeOrderNo}
			
		WHERE id=#{id};
	</update>
	<select id="getCatalogTree" parameterType="java.lang.Integer" resultType="java.util.Map">
			    SELECT
					a.*,
					IF (b.title IS NULL,'false','true') AS checked,
					IF (b.title IS NULL,'false','true') AS chkDisabled
				FROM(
					SELECT
							id,
							 catalog_name AS name,
							'false' oncheck,
							'true' open,
							parent_id AS pId,
				
						IF (parent_id = 0, 'true', 'false') AS parent
						FROM
							cms_catalog
						WHERE
							textbook_id = #{textbookId}
					) AS a
				LEFT JOIN (
					SELECT
						title
					FROM
						cms_textbook
					WHERE
						parent_id = #{textbookId}
				) AS b ON a.`name` = b.title
			ORDER BY id
	</select>
	<select id="selectCatalogById"  resultMap="CmsCatalogMessageMap">
		SELECT 
			C.id,
			c.catalog_name,
			c.introduction,
			c.textbook_id,
			t.grade_no,
			t.subject_no,
			t.phase_no,
			t.is_hot,
			t.`status`,
			t.textbook_type_no,
			p.id as knowledge_point_arr,
			t.discount,
			t.isfree,
			v.image_url,
			c.video_file_name,
			if(v.price IS NULL,0,v.price) AS price
		 FROM cms_catalog c
			LEFT JOIN cms_textbook  t on c.textbook_id=t.id
			LEFT JOIN cms_knowledge_point p on c.catalog_name=p.title
			LEFT JOIN cms_video v on v.file_name=c.video_file_name 
		WHERE 1=1 AND c.id IN
		 <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            		#{item}
       	 </foreach>
	</select>
	
	<update id="recommendById" parameterType="java.lang.Integer">
		UPDATE cms_textbook SET is_recommend=IF(is_recommend=0,1,0) WHERE id =#{id}
	</update>
	
	<update id="updateTextbookImageByName" parameterType="java.lang.String">
		UPDATE cms_textbook SET img_url=#{imageUrl} WHERE title=#{textbookName}
	</update>
</mapper>