<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.news.dao.CmsNewsMapper">
	<resultMap type="com.ekt.cms.news.entity.CmsNews" id="BaseMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<id column="title" property="title" jdbcType="VARCHAR" />
		<id column="title_img_url" property="titleImageUrl" jdbcType="VARCHAR" />
		<id column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<id column="content" property="content" jdbcType="VARCHAR" />
	</resultMap>


	<select id="listPage" resultMap="BaseMap"
		parameterType="com.ekt.cms.news.entity.CmsNews">
		SELECT * FROM api_promotion_news WHERE 1=1
		<if test="title!=null and title!=''">
			AND title like '%${title}%'
			OR content like '%{content}%'
		</if>
	</select>

	<update id="confineById" parameterType="java.lang.Integer">
		UPDATE api_promotion_news SET status =(if(status=1,0,1)) WHERE id =#{newsId}
	</update>

	<delete id="delById" parameterType="java.lang.Integer">
		DELETE FROM api_promotion_news WHERE id=#{newsId}
	</delete>





<insert id="addNews" parameterType="com.ekt.cms.news.entity.CmsNews" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO api_promotion_news(
	`title`,
	`content`,
	`create_time`,
	`title_img_url`,
	`status`
	) VALUES (
	
	#{title},
	#{content},
	SYSDATE(),
	#{titleImageUrl},
	#{status}
	)
	</insert>
	
	<update id="editNews" parameterType="com.ekt.cms.news.entity.CmsNews">
		UPDATE 
			api_promotion_news 
		SET 
			title=#{title},
			content=#{content},
			title_img_url = #{titleImageUrl}
		WHERE id =#{id}
	
	</update>
</mapper>

	