<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.video.dao.CmsTestpaperMapper">
	<insert id="insertTestpaper" parameterType="com.ekt.cms.video.entity.Testpaper">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO api_testpaper (
		`user_id`,
		`create_time`,
		`is_finish`,
		`status`,
		`testpaper_name`,
		`subject_no`,
		`phase_no`,
		`knowledge_point_arr`,
		`knowledge_point_arr_val`,
		`difficulty_no`,
		`digest`,
		`author`,
		`type`,
		`is_hot`,
		`category_no`,
		`examine_status`,
		`video_id`
		) VALUES (
		#{userId},
		SYSDATE(),
		0,
		1,
		#{testpaperName},
		#{subjectNo},
		#{phaseNo},
		#{knowledgePointArr},
		#{knowledgePointArrVal},
		#{difficultyNo},
		#{digest},
		#{author},
		3,
		1,
		#{categoryNo},
		0,
		#{videoId}
		)
	</insert>
	
	
	<select id="getVideoExercises" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT exercise_id FROM api_video_exercise WHERE video_id=#{videoId} ORDER BY order_no ASC
	</select>
	
	<insert id="insertExerciseDetail" parameterType="com.ekt.cms.video.entity.ExerciseDetail">
		INSERT INTO api_exercise_detail(
		`testpaper_id`, 
		`exercise_id`, 
		`user_id`, 
		`delete_status`, 
		`is_finish`
		) VALUES (
		#{testpaperId},
		#{exerciseId},
		#{userId},
		1,0	
		)
	</insert>
	<delete id="removeTestpaperById" parameterType="java.lang.Integer">
			DELETE 
		FROM 
			api_testpaper
		WHERE
			id=#{id}
	</delete>
	<delete id="removeTestpaperExerciseByTestpaperId" parameterType="java.lang.Integer">
		DELETE 
		FROM 
			api_exercise_detail
		WHERE
			testpaper_id=#{id}	
	</delete>

</mapper>