<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.video.dao.CmsVideoMapper">
	<resultMap type="com.ekt.cms.video.entity.CmsVideo" id="BaseMap">
		<id column="id" property="id" jdbcType="INTEGER"></id>
		<result column="video_name" property="videoName" jdbcType="VARCHAR"></result>
		<result column="digest" property="digest" jdbcType="VARCHAR"></result>
		<result column="url" property="url" jdbcType="VARCHAR"></result>
		<result column="url1" property="urlBak" jdbcType="VARCHAR"></result>
		<result column="isp" property="isp" jdbcType="VARCHAR"></result>
		<result column="file_name" property="fileName" jdbcType="VARCHAR"></result>
		<result column="author_id" property="authorId" jdbcType="INTEGER"></result>
		<result column="author" property="author" jdbcType="VARCHAR"></result>
		<result column="duration" property="duration" jdbcType="VARCHAR"></result>
		<result column="image_url" property="imageUrl" jdbcType="VARCHAR"></result>
		<result column="knowledge_id" property="knowledgeId" jdbcType="VARCHAR"></result>
		<result column="status" property="status" jdbcType="INTEGER"></result>
		<result column="knowledge" property="knowledge" jdbcType="VARCHAR"></result>
		<result column="grade_no" property="gradeNo" jdbcType="INTEGER"></result>
		<result column="grade" property="grade" jdbcType="VARCHAR"></result>
		<result column="subject_no" property="subjectNo" jdbcType="INTEGER"></result>
		<result column="subject" property="subject" jdbcType="VARCHAR"></result>
		<result column="video_key" property="videoKey" jdbcType="VARCHAR"></result>
		<result column="transcode_status" property="transcodeStatus" jdbcType="INTEGER"></result>
		<result column="exercise_grade_no" property="exerciseGradeNo" jdbcType="INTEGER"></result>
		<result column="exercise_subject_no" property="exerciseSubjectNo" jdbcType="INTEGER"></result>
		<result column="exercise_knoeledge_id" property="exerciseKnoeledgeId" jdbcType="INTEGER"></result>
		<result column="price" property="price" jdbcType="DOUBLE"></result>
		<result column="discount" property="discount" jdbcType="DOUBLE"></result>
		<result column="textbook_id" property="textbookId" jdbcType="INTEGER"></result>
		<result column="exercise_count" property="exerciseCount" jdbcType="INTEGER"></result>
		<result column="has_testpaper" property="hasTestpaper" jdbcType="INTEGER"></result>
		<result column="sub_video_key" property="subVideoKey" jdbcType="VARCHAR"></result>
	</resultMap>
	
	<resultMap type="com.ekt.cms.common.entity.TreeBean" id="TreeBeanMap">
		<result column="id" property="id" jdbcType="INTEGER"></result>
		<result column="chkDisabled" property="chkDisabled" jdbcType="VARCHAR"></result>
		<result column="name" property="name" jdbcType="VARCHAR"></result> 
		<result column="oncheck" property="oncheck" jdbcType="VARCHAR"></result>
		<result column="open" property="open" jdbcType="VARCHAR"></result> 
		<result column="pId" property="pId" jdbcType="INTEGER"></result> 
		<result column="parent" property="parent" jdbcType="VARCHAR"></result>
		<result column="checked" property="checked" jdbcType="VARCHAR"></result>
	</resultMap>
	
	<select id="getVideoById" parameterType="java.lang.Integer" resultType="com.ekt.cms.video.entity.CmsVideo">
			SELECT
				 c.id
				,c.video_name AS videoName
				,c.digest
				,c.url
				,c.isp
				,c.file_name AS fileName
				,c.duration
				,c.image_url AS imageUrl
			    ,c.knowledge_id AS knowledgeId
				,c.knowledge 
				,c.grade_no AS gradeNo
				,c.subject_no AS subjectNo
				,c.price
				,c.discount
				,c.isfree	
				,IF(a.id IS NOT NULL,1,0)AS hasTestpaper		
			FROM
				cms_video c
				LEFT JOIN api_testpaper a on a.video_id=c.id
			WHERE
				c.id = #{id}
	</select>
	
	<!-- 分页查询 -->
	<select id="listPage" parameterType="com.ekt.cms.video.entity.CmsVideo" resultMap='BaseMap'>
		SELECT a.*,
		a.grade_no AS exercise_grade_no,
		a.subject_no AS exercise_subject_no,
		IF(a.t_id IS NULL,0,a.t_id)AS textbook_id,
		SUBSTR(a.knowledge_point_arr , 2 , LENGTH(a.knowledge_point_arr)-2) AS exercise_knoeledge_id FROM (
				SELECT
					v.id ,
					v.video_name,
					v.video_key,
					v.digest,
					v.url,
					v.isp,
					v.file_name,
					v.author_id,
					a.real_name author,
					v.duration,
					v.image_url,
					SUBSTR(v.knowledge_id,2,LENGTH(v.knowledge_id) - 2) AS knowledge_id,
					v.status status,
					transcode_status,
					 knowledge,
					v.grade_no grade_no,
					d.value grade,
					v.subject_no subject_no,
					t1.knowledge_point_arr,
					d1.value subject,
					v.price,
					v.discount,
					(SELECT COUNT(1) FROM api_video_exercise e WHERE e.video_id=v.id) AS exercise_count,
					(SELECT textbook_id FROM cms_catalog WHERE catalog_level=52 AND v.id=video_id LIMIT 1)AS t_id,
						IF(t1.id IS NOT NULL,1,0)AS has_testpaper,
					v.sub_video_key
				FROM
					cms_video v
				INNER JOIN cms_dictionary d on v.grade_no=d.id
				INNER JOIN cms_dictionary d1 on v.subject_no=d1.id
				LEFT JOIN cms_account a on a.id= v.author_id						
				LEFT JOIN (SELECT id,video_id,knowledge_point_arr FROM api_testpaper WHERE type=3 AND  examine_status = 1 AND `status`=1 AND video_id IS NOT NULL) t1 on t1.video_id=v.id
				WHERE 1=1 
				<if test="CmsVideo.videoName !=null and CmsVideo.videoName != ''">
					AND (v.video_name like '%${CmsVideo.videoName}%' OR (v.knowledge like '%${CmsVideo.knowledge}%'))
				</if>
				
					
				
				<if test="CmsVideo.gradeNo !=null and CmsVideo.gradeNo !=0" >
					AND v.grade_no=#{CmsVideo.gradeNo ,jdbcType=INTEGER}
				</if>
				<if test="CmsVideo.subjectNo !=null and CmsVideo.subjectNo !=0">
					AND v.subject_no=#{CmsVideo.subjectNo, jdbcType=INTEGER}
				</if>
				<if test="CmsVideo.authorId !=null and CmsVideo.authorId !=0" >
					AND (v.author_id = #{CmsVideo.authorId})
				</if>
			)AS a 
	</select>
	<!-- 按主键删除 -->
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE 
		FROM 
			cms_video
		WHERE
			id=#{id}
	</delete>
	<!-- 停启用 -->
	<update id="confine" parameterType="com.ekt.cms.video.entity.CmsVideo">
		UPDATE 
			cms_video
		SET 
			status=#{CmsVideo.status}
		WHERE
			id=#{CmsVideo.id}
	</update>
	<!-- 更新视频基础信息 -->
	<update id="update" parameterType="com.ekt.cms.video.entity.CmsVideo">
	UPDATE 
			cms_video
		SET 
			<if test="CmsVideo.videoName !=null and CmsVideo.videoName != ''">
			video_name=#{CmsVideo.videoName},
			</if>
			<if test="CmsVideo.videoKey !=null and CmsVideo.videoKey != ''">
			video_key=#{CmsVideo.videoKey},
			</if>
			<if test="CmsVideo.subVideoKey !=null and CmsVideo.subVideoKey != ''">
			sub_video_key=#{CmsVideo.subVideoKey},
			</if>
			<if test="CmsVideo.digest !=null and CmsVideo.digest != ''">
			digest=#{CmsVideo.digest},
			</if>
			<if test="CmsVideo.url !=null and CmsVideo.url != ''">
			url=#{CmsVideo.url},
			</if>
			<if test="CmsVideo.isp !=null and CmsVideo.isp != ''">
			isp=#{CmsVideo.isp},
			</if>
			<if test="CmsVideo.fileName !=null and CmsVideo.fileName != ''">
			file_name=#{CmsVideo.fileName},
			</if>
			<if test="CmsVideo.imageUrl !=null and CmsVideo.imageUrl != ''">
			image_url=#{CmsVideo.imageUrl},
			</if>
			<if test="CmsVideo.authorId !=null and CmsVideo.authorId != ''">
			author_id=#{CmsVideo.authorId},
			</if>
			<if test="CmsVideo.knowledgeId !=null and CmsVideo.knowledgeId != ''">
			knowledge_id=CONCAT(',',#{CmsVideo.knowledgeId}),
			</if>
			<if test="CmsVideo.knowledge !=null and CmsVideo.knowledge != ''">
			 knowledge = CONCAT(',',#{CmsVideo.knowledge}),
			</if>
			<if test="CmsVideo.gradeNo !=null and CmsVideo.gradeNo !=0" >
			 grade_no= #{CmsVideo.gradeNo ,jdbcType=INTEGER},
			</if>
			<if test="CmsVideo.subjectNo !=null and CmsVideo.subjectNo !=0">
			subject_no= #{CmsVideo.subjectNo, jdbcType=INTEGER},
			</if>
			<if test="CmsVideo.status !=null ">
			status=#{CmsVideo.status},
			</if>
			price =#{CmsVideo.price},
			
			discount =#{CmsVideo.discount},
			
			isfree =#{CmsVideo.isFree}
			
		WHERE
			id=#{CmsVideo.id}
	</update>
	<!-- 新增 -->
	
	<insert id="insert" parameterType="com.ekt.cms.video.entity.CmsVideo">
	<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
	</selectKey>
		INSERT INTO cms_video
			(video_name,
			digest,
			url,
			url1,
			isp,
			file_name,
			author_id,
			duration,
			image_url,
			knowledge_id,
			grade_no,
			subject_no,
			knowledge,
			video_key,
			status,
			price,
			discount,
			isfree,
			create_time,
			sub_video_key)
		VALUES
			(#{CmsVideo.videoName},
			#{CmsVideo.digest},
			#{CmsVideo.url},
			#{CmsVideo.urlBak},
			#{CmsVideo.isp},
			#{CmsVideo.fileName},
			#{CmsVideo.authorId},
			#{CmsVideo.duration},
			#{CmsVideo.imageUrl},
			CONCAT(',',#{CmsVideo.knowledgeId}),
			#{CmsVideo.gradeNo},
			#{CmsVideo.subjectNo},
			CONCAT(',',#{CmsVideo.knowledge}),
			#{CmsVideo.videoKey},
			1,
			#{CmsVideo.price},
			#{CmsVideo.discount},
			#{CmsVideo.isFree},
			SYSDATE(),
			#{CmsVideo.subVideoKey})
	</insert>
	<!-- 根据视频key更新视频URL 时长 文件名 -->
	<update id="updateByVideoKey" parameterType="com.ekt.cms.video.entity.CmsVideo">
	UPDATE 
			cms_video
		SET 
			<if test="CmsVideo.fileName !=null and CmsVideo.fileName != ''">
			file_name=#{CmsVideo.fileName},
			</if>
			<if test="CmsVideo.url !=null and CmsVideo.url != ''">
			url=#{CmsVideo.url},
			</if>
			<if test="CmsVideo.duration !=null and CmsVideo.duration !=0">
			duration= #{CmsVideo.duration},
			</if>
			<if test="CmsVideo.subUrl !=null and CmsVideo.subUrl!=''">
			sub_url =#{CmsVideo.subUrl},
			</if>
			transcode_status=2
			
		WHERE
			video_key=#{CmsVideo.videoKey}
	</update>
	<select id="getVideoExerciseTree" parameterType="com.ekt.cms.video.entity.CmsVideo" resultMap="TreeBeanMap">
		SELECT a.*,
			   IF(b.exercise_id IS NULL,'false','true')AS checked
			    FROM(
						SELECT
							e.id,
							'false'chkDisabled,
							 CONCAT('[',e.id,']  ',IF(LENGTH(e.content)&gt;30,SUBSTR(e.content,1,30),content),'...')AS name,
							'false'oncheck,
							'true'open,
							'0'pId,
							'false'parent
						FROM
							cms_exercise e
						WHERE
							e.`status`=1
						AND e.subject_no=#{CmsVideo.subjectNo}
						AND e.grade_no=#{CmsVideo.gradeNo}
						AND e.knoeledge_id=#{CmsVideo.knowledgeId}
						ORDER BY e.order_no
					)AS a
					LEFT JOIN (
					SELECT 
						exercise_id 
					FROM api_video_exercise 
					WHERE 
						video_id=#{CmsVideo.id}
					)b on b.exercise_id=a.id
					UNION (
							 SELECT '0'id,	
							'false' chkDisabled,
							'全部' name,
							'false' oncheck,
		
							'true' open,
							'-1' pId,
							'true' parent,
							'false' checked 	)		
	</select>
	
	<delete id="removeVideoExerciseByVideoId" parameterType="java.lang.Integer">
		DELETE FROM api_video_exercise WHERE video_id=#{videoId} 
	</delete>
	
	<insert id="addVideoExerciseTree" parameterType="java.lang.Integer">
		INSERT INTO api_video_exercise(`video_id`, `exercise_id`, `order_no`) VALUES (#{videoId}, #{exerciseId}, #{orderNo});
	</insert>
	
	<update id="updateVideoTransStatusByFileId" >
		UPDATE cms_video SET transcode_status=#{status} WHERE video_key =#{videoKey}
	</update>
	
	<select id="getVideoBySubKey" parameterType="java.lang.String">
		SELECT * FROM cms_video WHERE video_key=#{videoKey}
	
	</select>
	<update id="updateVideoBySubKey" parameterType="com.ekt.cms.video.entity.CmsVideo">
		  UPDATE cms_video SET sub_url =#{subUrl} WHERE sub_video_key =#{subVideoKey}
	</update>
	
	
	<update id="updateVideoSubKeyByVideoId" >
	 UPDATE cms_video SET sub_video_key =#{subVideoKey} WHERE id  =#{videoId}
	
	</update>
	
	</mapper>