<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.agency.dao.CmsAgencyMapper">
	<resultMap id="BaseMap" type="com.ekt.cms.agency.entity.CmsAgency">
			<result column="id" property="id" jdbcType="INTEGER" />
			<result column="user_id" property="userId" jdbcType="INTEGER" />
			<result column="agency_name" property="agencyName" jdbcType="VARCHAR" />
			<result column="telephone" property="telephone" jdbcType="VARCHAR" />
			<result column="create_time" property="createTime" jdbcType="INTEGER" />
			<result column="parent_id" property="parentId" jdbcType="INTEGER" />
			<result column="parent_agency_name" property="parentAgencyName" jdbcType="VARCHAR" />
			<result column="agency_count" property="agencyCount" jdbcType="INTEGER" />
			<result column="sales_volume" property="salesVolume" jdbcType="DOUBLE" />
			<result column="child_sales_volume" property="childSalesVolume" jdbcType="DOUBLE" />
	</resultMap>
	


<select id="getAgencyList"  parameterType="com.ekt.cms.agency.entity.CmsAgency" resultMap="BaseMap">
			SELECT 
			 a.*,
			(SELECT SUM(o.total_fee) FROM api_record_orders o WHERE o.discount_code_user_id=a.user_id AND o.trade_status=1 )AS sales_volume,
			(SELECT SUM(o1.total_fee) FROM api_agency a1 LEFT JOIN api_record_orders o1 on a1.user_id=o1.discount_code_user_id AND o1.trade_status=1 WHERE a1.parent_id=a.id )AS child_sales_volume
			FROM(
			SELECT
				d.id,
				u.id AS user_id,
				IF(d.agency_name IS NULL,u.nickname,d.agency_name) AS agency_name,
				u.telephone,
				d.create_time,
				d.parent_id,
				IF(d1.agency_name IS NULL,u1.nickname,d1.agency_name) AS parent_agency_name,
				COUNT(d2.id IS NOT NULL OR NULL)AS agency_count
			FROM
				api_user u
			INNER JOIN api_agency d on u.id=d.user_id
			LEFT JOIN api_agency d1 on d.parent_id=d1.id
			LEFT JOIN api_user u1 on u1.id=d1.user_id
			LEFT JOIN api_agency d2 on d2.parent_id=d.id
			GROUP BY d.id
			)AS a 
</select>

</mapper>