<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- 插件配置 -->
	<plugins>
		<plugin interceptor="com.ekt.cms.utils.page.PagePlugin">
			<property name="dialect" value="mysql" />
			<property name="pageSqlId" value=".*listPage.*" />
		</plugin>
		
		

    </plugins>
    
  
<!--     plugins在配置文件中的位置必须符合要求，否则会报错，顺序如下: -->
<!--     properties?, settings?,  -->
<!--     typeAliases?, typeHandlers?,  -->
<!--     objectFactory?,objectWrapperFactory?,  -->
<!--     plugins?,  -->
<!--     environments?, databaseIdProvider?, mappers? -->


    
    
    
    
    
    
	
</configuration>
