<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
       
       <!-- 用户授权信息Cache（本机内存实现） -->    
<bean id="memoryConstrainedCacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />     
       
     <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">    
        <property name="sessionManager" ref="defaultWebSessionManager" />    
        <property name="realm" ref="adminRealm" />    
        <property name="cacheManager" ref="memoryConstrainedCacheManager" />    
    </bean>   
    
    <bean id="defaultWebSessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">    
        <property name="globalSessionTimeout" value="86400000" />    
    </bean>  
       

	<!--Shiro配置 -->
	<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	
	<!-- 自定义Realm，用来进行登录验证和授权管理 -->
	<bean id="adminRealm" class="com.ekt.cms.shiro.UserRealm">
		<property name="authorizationCachingEnabled" value="true" />
		<property name="authorizationCacheName" value="authorizationCache_" />
		<property name="cachingEnabled" value="true" />
		<property name="authenticationCachingEnabled" value="true" />
		<property name="authenticationCacheName" value="authenticationCache_" />
		<property name="cacheManager" ref="cacheManager" />
	</bean>
	
	<!-- shiro 权限管理 -->
<!-- 	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager"> -->
<!-- 		<property name="realm" ref="adminRealm" /> -->
<!-- 		<property name="sessionManager" ref="sessionManager" /> -->
<!-- 		<property name="rememberMeManager" ref="rememberMeManager" /> -->
<!-- 	</bean> -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- Shiro的核心安全接口，这个属性是必须的 -->
		<property name="securityManager" ref="securityManager" />
		<!-- 要求登录时的contoller(登录页面地址 user/login.jsp)，非必须的属性，默认会自动寻找Web工程根目录下的"/login.jsp"页面 --> 
		<property name="loginUrl" value="/user/login" />
		<property name="filters">
			<map>				
				<entry key="o" value-ref="onLineFilter" />
				<entry key="p" value-ref="permissionFilter" />
			</map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				  /index/index=o
				/user/login=anon
				/user/exit=anon 
				/*=o
               <!--  /*=anon
                /*/*=anon -->
                
			</value>
		</property>
	</bean>
	
	<bean id="onLineFilter" class="com.ekt.cms.shiro.OnLineFilter">
        <property name="noLoginUrl" value="user/exit"></property>
    </bean>
    <bean id="permissionFilter" class="com.ekt.cms.shiro.PermissionFilter">
        <property name="noPermissionUrl" value="user/exit"/>
    </bean>

	<!-- 会话验证调度器 -->
	<bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.quartz.QuartzSessionValidationScheduler"> 
<!-- 		<property name="sessionValidationInterval" value="${session.outdate}"/>  -->
		<property name="sessionManager" ref="defaultWebSessionManager"/> </bean>
		
<!-- 	<bean id="sessionManager" -->
<!-- 		class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager"> -->
<!-- 		<property name="globalSessionTimeout" value="${session.outdate}" /> -->
<!-- 		<property name="deleteInvalidSessions" value="true" /> -->
<!-- 		<property name="sessionValidationSchedulerEnabled" value="false" /> -->
		<!-- <property name="sessionValidationScheduler" ref="sessionValidationScheduler"/> -->
<!-- 		<property name="sessionDAO" ref="sessionDao" /> -->
<!-- 		<property name="sessionIdCookieEnabled" value="true" /> -->
<!-- 		<property name="sessionIdCookie" ref="sessionIdCookie" /> -->
<!-- 	</bean> -->
	
	<bean id="sessionIdGenerator"
		class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator" />

	
	<!--方案1.缓存管理 EhCache -->
	<bean id="sessionDao"
		class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
		<property name="activeSessionsCacheName" value="shiro_activeSessionCache" />
		<property name="sessionIdGenerator" ref="sessionIdGenerator" />
		<property name="cacheManager" ref="cacheManager" />
		<property name="activeSessionsCache" ref="cache" />
	</bean>

	<!-- 会话Cookie模板 -->
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="sid" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="-1" />
	</bean>
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="rememberMe" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="2592000" /><!-- 30天 -->
									   
	</bean>
	<!-- rememberMe管理器 -->
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<!-- rememberMe cookie加密的密钥 建议每个项目都不一样 默认AES算法 密钥长度（128 256 512 位） -->
		<property name="cipherKey"
			value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}" />
		<property name="cookie" ref="rememberMeCookie" />
	</bean>

	<!-- Shiro生命周期处理器 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
</beans>