<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.exercise.dao.CmsAnswerMapper">
	
	<resultMap id="answerResultMap" type="com.ekt.cms.exercise.entity.CmsAnswer">
			<result column="id" property="id" jdbcType="VARCHAR" />
			<result column="exercise_id" property="exerciseId" jdbcType="VARCHAR" />
			<result column="option" property="option" jdbcType="VARCHAR" />
			<result column="contents" property="contents" jdbcType="VARCHAR" />
			<result column="contents_url" property="contentsUrl" jdbcType="VARCHAR" />
			<result column="is_true" property="isTrue" jdbcType="VARCHAR" />
			<result column="explain" property="explain" jdbcType="VARCHAR" />
			<result column="explain_url" property="explainUrl" jdbcType="VARCHAR" />
			<result column="status" property="status" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getAnswerList" resultMap="answerResultMap" parameterType="java.lang.Integer">
		SELECT * FROM cms_exercise_answer WHERE exercise_id=#{exerciseId} ORDER BY id ASC
	</select>
	


</mapper>