<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ekt.cms.exercise.dao.CmsExerciseMapper">
	<resultMap id="BaseResultMap" type="com.ekt.cms.exercise.entity.CmsExercise">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="knoeledge_id" property="knoeledgeId" jdbcType="INTEGER" />
		<result column="knoeledge" property="knoeledge" jdbcType="VARCHAR" />
		<result column="type_no" property="typeNo" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="category_no" property="categoryNo" jdbcType="INTEGER" />
		<result column="category" property="category" jdbcType="VARCHAR" />
		<result column="difficulty_no" property="difficultyNo"
			jdbcType="INTEGER" />
		<result column="difficulty" property="difficulty" jdbcType="VARCHAR" />
		<result column="publisher_no" property="publisherNo" jdbcType="INTEGER" />
		<result column="publisher" property="publisher" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="order_no" property="orderNo" jdbcType="INTEGER" />
		<result column="subject_no" property="subjectNo" jdbcType="INTEGER" />
		<result column="subject" property="subject" jdbcType="VARCHAR" />
		<result column="grade_no" property="gradeNo" jdbcType="INTEGER" />
		<result column="grade" property="grade" jdbcType="VARCHAR" />
	</resultMap>
	<select id="pageList" resultMap="BaseResultMap"
		parameterType="com.ekt.cms.exercise.entity.CmsExercise">
		SELECT
		c.id,
		c.content,
		c.knoeledge_id,
		p.title knoeledge,
		c.type_no,
		d.`value` type,
		c.category category_no,
		d1.`value` category,
		c.difficulty_no,
		d2.`value` difficulty,
		c.publisher_no,
		d3.`value`
		publisher,
		c.create_time,
		c.`status`,
		c.author,
		c.order_no,
		p.subject_no,
		d4.`value` subject,
		p.grade_no,
		d5.`value` grade
		FROM
		cms_exercise c
		LEFT
		JOIN cms_knowledge_point p ON p.id = c.knoeledge_id
		LEFT JOIN
		cms_dictionary d on c.type_no =d.id
		LEFT JOIN cms_dictionary d1 on
		c.category=d1.id
		LEFT JOIN cms_dictionary d2 on c.difficulty_no=d2.id
		LEFT JOIN cms_dictionary d3 on c.publisher_no=d3.id
		LEFT JOIN
		cms_dictionary d4 on d4.id=p.subject_no
		LEFT JOIN cms_dictionary d5 on
		d5.id=p.grade_no
		WHERE 1=1
		<if test="exercise.gradeNo != null and exercise.gradeNo!=''">
			AND p.grade_no=#{exercise.gradeNo}
		</if>
		<if test="exercise.subjectNo != null and exercise.subjectNo!=''">
			AND p.subject_no=#{exercise.subjectNo}
		</if>
		<if test="exercise.typeNo != null and exercise.typeNo!=''">
			AND c.type_no=#{exercise.typeNo}
		</if>
		<if test="exercise.knoeledgeId != null and exercise.knoeledgeId!=''">
			AND c.knoeledge_id=#{exercise.knoeledgeId}
		</if>
		<if test="exercise.categoryNo != null and exercise.categoryNo !=''">
			AND c.category=#{exercise.categoryNo}
		</if>
		<if test="exercise.difficultyNo != null and exercise.difficultyNo!=''">
			AND c.difficulty_no=#{exercise.difficultyNo}
		</if>
		<if test="exercise.content != null and exercise.content!=''">
			AND ( c.content LIKE '%${exercise.content}%' )
		</if>
	</select>
	<!-- 停用习题 -->
	<update id="exerciseConfine" parameterType="java.lang.Integer">
		UPDATE cms_exercise
		SET status=#{status} WHERE id=#{id}
	</update>

	<!-- 停用答案 -->
	<update id="answerConfine" parameterType="java.lang.Integer">
		UPDATE
		cms_exercise_answer SET status=#{status} WHERE exercise_id=#{id}
	</update>

	<!-- 删除习题 -->
	<delete id="deleteExercise" parameterType="java.lang.Integer">
		DELETE FROM
		cms_exercise
		WHERE id=#{id}
	</delete>

	<!-- 删除答案 -->
	<delete id="deleteAnswer" parameterType="java.lang.Integer">
		DELETE
		FROM
		cms_exercise_answer WHERE exercise_id=#{id}

	</delete>
	<!-- 插入习题并返回插入该行的记录自增id -->
	<!-- <insert id="insertExercise" parameterType="com.ekt.cms.exercise.entity.CmsExercise" 
		> -->
	<insert id="insertExercise" parameterType="com.ekt.cms.exercise.entity.CmsExercise"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cms_exercise(
		`content`,
		`difficulty_no`,
		`publisher_no`,
		`author`,
		`create_time`,
		`type_no`,
		`category`,
		`order_no`,
		`knoeledge_id`
		) VALUES (
		#{content},
		#{difficultyNo},
		#{publisherNo},
		#{author},
		SYSDATE(),
		#{typeNo},
		#{categoryNo},
		#{orderNo},
		#{knoeledgeId}
		)

	</insert>
	<insert id="insertAnswer">
		INSERT INTO cms_exercise_answer (
			 	`exercise_id`, 
				`option`,
				`contents`, 
				`is_true`
				) VALUES (
				#{exerciseId},
				#{option},
				#{content},
				#{isTrue}
				 );
	</insert>


</mapper>